<div class="ar-block6">
	<div class="ar-block6__factory">
		<img src="{{asset "assets/images/accelerator/factory-2.webp"}}" alt="factory image">
	</div>
	<div class="w1340">
		<div class="ar-block6__content">
			<h2 class="ar-block6__title">Money-Back Guarantee</h2>
			<div class="ar-block6__description">
				<p>At Scout Systems, we stand behind the power of our Accelerator Program. We are so confident in its success that we offer a unique guarantee: if at any point during the 90 days you feel that the program isn't meeting your expectations, we will promptly cancel our services and provide you with a full refund.</p>
				<p>Our goal is not just to be a short-term solution but a long-term strategic partner, supporting your manufacturing journey every step of the way. With our cutting-edge technology and unwavering commitment to your success, we're eager to demonstrate that our offering is truly second to none. Your satisfaction is our top priority.</p>
			</div>
			<a href="{{@site.url}}/pricing/" class="default-button green">pricing</a>
		</div>
	</div>
</div>