<div class="ar-block1">
	<div class="w1340">
		<div class="ar-block1__left">
			<h1 class="ar-block1__title">A simple path to digitalization</h1>
			<p class="ar-block1__subtitle">Implement a small scale, value-focused strategy to quickly prove our platform and competency aligns with your corporate mission. </p>
			<div class="ar-block1__buttons">
				<div style="cursor: pointer;" class="default-button_green runScriptButton">Get Started</div>
				<a href="{{@site.url}}/pricing/" class="default-button">Pricing</a>
			</div>
			<div class="ar-block1__cta">
				{{> icons/check-mark-green}}
				<p class="ar-block1__cta-text">Accelerate your factory and catch up with Innovation in <span class="green">just 3 months</span></p>
			</div>
		</div>
		<div class="ar-block1__right">
			<img src="{{asset "assets/images/accelerator/image 101.webp"}}" alt="simple path image">
		</div>
	</div>
</div>