<div class="ar-block3">
	<div class="w1340">
		<h2 class="ar-block3__title">Our Methods are Unlike any Other SaaS</h2>
		<p class="ar-block3__subtitle">Over the years, we have conducted installations across the globe in various types of factories, evaluating what worked and what didn't. Through extensive testing and experimentation, we identified the most effective playbook for ensuring a successful project rollout. The key element is aligning the project with the manufacturer's pain points.</p>
	</div>
</div>

<div class="tech-video-white" style="margin-bottom: 10rem;">
	<div class="w1340">
		<video src="https://scoutweb.blob.core.windows.net/assets/Combined-Testimonials-Final.mp4" controls></video>
	</div>
</div>