<div class="ar-block2">
	<div class="w1340">
		<div class="ar-block2__image">
			<img src="{{asset 'assets/images/floor-management/timeline.png'}}" alt="timeline image">
		</div>
		<div class="ar-block2__description">
			Customer Success Representatives will work with your staff to find easy improvement projects, while fine tuning the platform to better fit your operations, and most importantly <br>
			<span class="ar-block2__description_green">achieve a surplus value within 90 days.</span>
		</div>
		<a href="{{@site.url}}/pricing/" class="default-button green">pricing</a>
	</div>
</div>