<div class="ar-block4">
	<div class="ar-block4__ellipse1">{{> images/ellipse2}}</div>
	<div class="ar-block4__ellipse2">{{> images/ellipse2}}</div>
	<div class="ar-block4__factory">
		<img src="{{asset "assets/images/accelerator/factory-1.webp"}}" alt="factory image">
	</div>
	<div class="w1340">
		<div class="ar-block4__text">
			<h2 class="ar-block4__title">What to expect</h2>
			<div class="ar-block4__cards">
				<div class="ar-block4__card">
					<div class="ar-block4__icon">{{> icons/accelerator-icon-1}}</div>
					<div>
						<h3 class="ar-block4__card-title">Assessment of the Customer's</h3>
						<p class="ar-block4__card-subtitle">All new projects begin with a thorough assessment of the customer's challenges and business growth objectives. The aim is to gain a clear understanding of the processes that are hindering the customer's ability to secure more business</p>
					</div>
				</div>
				<div class="ar-block4__card">
					<div class="ar-block4__icon">{{> icons/accelerator-icon-2}}</div>
					<div>
						<h3 class="ar-block4__card-title">Customer Success Representative</h3>
						<p class="ar-block4__card-subtitle">Each customer is assigned a Customer Success Representative who essentially becomes an extension of their team. This representative assists with every aspect of the project, from start to finish, ensuring a smooth and successful implementation.</p>
					</div>
				</div>
			</div>
			<a href="https://cta-service-cms2.hubspot.com/web-interactives/public/v1/track/redirect?encryptedPayload=AVxigLJdg0x%2BA8JB9S6KB8iaAx440f898ylNEtcv2g1YsQqQEjIxKd5cvRiOVd7EaOwF9nyDgHPIrnCLXl5%2FOktHSwNyOdaaVpdVj2fY9lzeJDQ6EPunHJq83tP7bXIWDOVHcgKxeUlwsZm72DWj9oFDOWat2qj0pUxMvPYfRGMc7oZMvS%2FYZiOY&webInteractiveContentId=128943797352&portalId=41638633" target="_blank" class="default-button_green">Book free consultation</a>
		</div>
	</div>
</div>