<div class="ar-block5">
	<div class="w1340">
		<h2 class="ar-block5__title">We focus on your Biggest Challenges</h2>
		<p class="ar-block5__subtitle">Too many vendors fixate on the fancy bells & whistles their offering can do, but that doesn't necessarily effect your bottom line.</p>
		<div class="ar-block5__image">
			<img src="{{asset "assets/images/accelerator/block-5-image.png"}}" alt="challenges image">
			<div class="ar-block5__info1">
				<div class="ar-block5__info1-item">
					{{> icons/check-mark-green}}
					Missing out on large contracts?
				</div>
				<div class="ar-block5__info1-item">
					{{> icons/check-mark-green}}
					Struggling to find skilled labor?
				</div>
				<div class="ar-block5__info1-item">
					{{> icons/check-mark-green}}
					Customers are demanding greater quality?
				</div>
				<div class="ar-block5__info1-item">
					{{> icons/check-mark-green}}
					Relying on Over Time to keep up?
				</div>
				<div class="ar-block5__info1-item">
					{{> icons/check-mark-green}}
					Challenged to keep up with inflation?
				</div>
			</div>
			<div class="ar-block5__info2">
				Understanding your organization's overarching objectives enables us to support you in achieving them. We tailor our platform configuration and training materials to align with your specific needs. <span class="ar-block5__info2_green">This approach has resulted in a 92% success rate for new projects.</span>
			</div>
		</div>
	</div>
</div>