<div class="tech-u-accordion">
	<div class="w1340">
		<div class="tech-u-accordion__left">
			<div class="tech-u-accordion__item">
				<div class="tech-u-accordion__item-header active">
					<h2 class="tech-u-accordion__title">Compass</h2>
					<div class="tech-u-accordion__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion__body">
					<div class="tech-u-accordion__list-item">
						{{> icons/checkmark}}
						<h3 class="tech-u-accordion__list-title">Used by Operators on Production Floor</h3>
					</div>
					<div class="tech-u-accordion__list-item">
						{{> icons/checkmark}}
						<h3 class="tech-u-accordion__list-title">Provides Daily Build Schedule</h3>
					</div>
					<div class="tech-u-accordion__list-item">
						{{> icons/checkmark}}
						<h3 class="tech-u-accordion__list-title">Easy to follow Digital Work Instructions</h3>
					</div>
					<div class="tech-u-accordion__list-item">
						{{> icons/checkmark}}
						<h3 class="tech-u-accordion__list-title">In-Line Quality Assurance</h3>
					</div>
					<div class="tech-u-accordion__list-item">
						{{> icons/checkmark}}
						<h3 class="tech-u-accordion__list-title">Data Collection & Analysis</h3>
					</div>
				</div>
			</div>
			<div class="tech-u-accordion__item">
				<div class="tech-u-accordion__item-header">
					<h2 class="tech-u-accordion__title">HQ</h2>
					<div class="tech-u-accordion__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion__body">
					<div class="tech-u-accordion__list-item">
						{{> icons/checkmark}}
						<h3 class="tech-u-accordion__list-title">For Managers and Office Staff</h3>
					</div>
					<div class="tech-u-accordion__list-item">
						{{> icons/checkmark}}
						<h3 class="tech-u-accordion__list-title">Control / Adjust Schedule</h3>
					</div>
					<div class="tech-u-accordion__list-item">
						{{> icons/checkmark}}
						<h3 class="tech-u-accordion__list-title">Update Work Instructions</h3>
					</div>
					<div class="tech-u-accordion__list-item">
						{{> icons/checkmark}}
						<h3 class="tech-u-accordion__list-title">Access Production Reports</h3>
					</div>
					<div class="tech-u-accordion__list-item">
						{{> icons/checkmark}}
						<h3 class="tech-u-accordion__list-title">See Live Time Statuses</h3>
					</div>
				</div>
			</div>
			<div class="tech-u-accordion__item">
				<div class="tech-u-accordion__item-header">
					<h2 class="tech-u-accordion__title">Tracker</h2>
					<div class="tech-u-accordion__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion__body">
					<div class="tech-u-accordion__list-item">
						{{> icons/checkmark}}
						<h3 class="tech-u-accordion__list-title">Near-Universal Edge Device</h3>
					</div>
					<div class="tech-u-accordion__list-item">
						{{> icons/checkmark}}
						<h3 class="tech-u-accordion__list-title">Works with Legacy and Modern Machines</h3>
					</div>
					<div class="tech-u-accordion__list-item">
						{{> icons/checkmark}}
						<h3 class="tech-u-accordion__list-title">Add to Test Equipment to Validate Results</h3>
					</div>
					<div class="tech-u-accordion__list-item">
						{{> icons/checkmark}}
						<h3 class="tech-u-accordion__list-title">Touchless Software Navigation</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="tech-u-accordion__right">
			<div class="tech-u-accordion__img tech-u-accordion__img-1 active"><img src="{{asset "assets/images/tech-overview/digital-work-instruction-still-6536ebd50e94c.webp"}}" alt="digital work instruction image"></div>
			<div class="tech-u-accordion__img tech-u-accordion__img-2"><img src="{{asset "assets/images/tech-overview/dashboard-still-photo-1-6536ebd9b5904.webp"}}" alt="dashboard still image"></div>
			<div class="tech-u-accordion__img tech-u-accordion__img-3"><img src="{{asset "assets/images/tech-overview/press-brake-6536ebd6cb48f.webp"}}" alt="press brake image"></div>
		</div>
	</div>
</div>