<div class="tech-track">
	<div class="w1340">
		<h2 class="tech-track__title">EMPOWER YOUR OPERATORS</h2>
		<p class="tech-track__subtitle">Give your Operators the tools to do their job better as well as help the company improve overall operations.</p>
		<div class="tech-track__img">
			<img src="{{asset "assets/images/tech-overview/Intelligent Work Instruction.gif"}}" alt="intelligent work instruction">
		</div>
		<div class="tech-track__cards">
			<div class="tech-track__card">
				<div class="tech-track__card-icon">{{> icons/tech-track-icon1}}</div>
				<h3 class="tech-track__card-title">Intelligent Work Instructions</h3>
				<p class="tech-track__card-description">Don’t just inform Operators what to do, monitor their actions and verify quality.</p>
				<a class="learn-more-button" href="#">Learn more <span class="green-arrow">{{>icons/arrow-right}}</span></a>
			</div>
			<div class="tech-track__card">
				<div class="tech-track__card-icon">{{> icons/tech-track-icon2}}</div>
				<h3 class="tech-track__card-title">100% <br> Time Studies</h3>
				<p class="tech-track__card-description">Eliminate the need for manual time studies. Every action is automatically recorded and analyzed.</p>
				<a class="learn-more-button" href="#">Learn more <span class="green-arrow">{{>icons/arrow-right}}</span></a>
			</div>
			<div class="tech-track__card">
				<div class="tech-track__card-icon">{{> icons/tech-track-icon3}}</div>
				<h3 class="tech-track__card-title">Integrate <br> Modern Tools</h3>
				<p class="tech-track__card-description">Elevate your error-proofing capabilities by integrating tool communication with your instructions.</p>
				<a class="learn-more-button" href="#">Learn more <span class="green-arrow">{{>icons/arrow-right}}</span></a>
			</div>
		</div>
	</div>
</div>