<div class="tech-white-cards-1">
	<div class="w1340">
		<div class="tech-white-cards-1__left">
			<h2 class="tech-white-cards-1__title">Vast Capabilities</h2>
			<p class="tech-white-cards-1__subtitle">Unlock greater operational capabilities by seamlessly integrating our near-universal edge device with any production cell, equipment, or machinery. With a no-code implementation process, you can easily harness the power of this device to enhance your operations and drive efficiency and productivity to new heights.</p>
		</div>
		<div class="tech-white-cards-1__right">
			<div class="tech-white-cards-1__card">
				<div class="tech-white-cards-1__card-img">{{> icons/tech-cards1-icon1}}</div>
				<h3 class="tech-white-cards-1__card-title">Machine Monitoring</h3>
				<p class="tech-white-cards-1__card-description">Connect to new or legacy machines to track true usage and improve your preventative maintenance.</p>
			</div>
			<div class="tech-white-cards-1__card">
				<div class="tech-white-cards-1__card-img">{{> icons/tech-cards1-icon2}}</div>
				<h3 class="tech-white-cards-1__card-title">Signal Verification</h3>
				<p class="tech-white-cards-1__card-description">Embed with your test equipment and set requirements on your work instructions for in-line quality control.</p>
			</div>
			<div class="tech-white-cards-1__card">
				<div class="tech-white-cards-1__card-img">{{> icons/tech-cards1-icon3}}</div>
				<h3 class="tech-white-cards-1__card-title">Touchless Navigation</h3>
				<p class="tech-white-cards-1__card-description">Improve ergonomics by automating your work instruction navigation without the need to engage with the software.</p>
			</div>
			<div class="tech-white-cards-1__card">
				<div class="tech-white-cards-1__card-img">{{> icons/tech-cards1-icon4}}</div>
				<h3 class="tech-white-cards-1__card-title">Presence Tracking</h3>
				<p class="tech-white-cards-1__card-description">Sharpen your data accuracy by monitoring Operator presence and automatically pausing the job if no one is active.</p>
			</div>
		</div>
	</div>
</div>