<div class="tech-green-photos">
	<div class="tech-green-photos__ellipse1">{{> images/ellipse1}}</div>
	<div class="tech-green-photos__ellipse2">{{> images/ellipse2}}</div>
	<div class="w1340">
		<div class="tech-green-photos__left">
			<h2 class="tech-green-photos__title">EASY TO DESIGN</h2>
			<p class="tech-green-photos__subtitle">Using our custom work instruction Designer application, your team can easily design digital work instructions. Within seconds you can add imagery, video, text callouts, required inputs, inspector verifications, and more. Adopt world-class document and revision control with minimal effort.</p>
			<a class="learn-more-button" href="#">Learn more <span class="green-arrow">{{>icons/arrow-right}}</span></a>
		</div>
		<div class="tech-green-photos__right">
			<div class="tech-green-photos__img">
				<img src="/assets/images/work-instructions/Easy to Add Imagery.png" alt="easy to add image">
			</div>
			<div class="tech-green-photos__img">
				<img src="/assets/images/work-instructions/Instruction Options.png" alt="instruction option image">
			</div>
			<div class="tech-green-photos__img">
				<img src="/assets/images/work-instructions/Text Callouts.png" alt="text callouts image">
			</div>
			<div class="tech-green-photos__img">
				<img src="/assets/images/work-instructions/Text Inputs.png" alt="text inputs image">
			</div>
		</div>
	</div>
</div>