<div class="tech-white-cards-2">
	<div class="w1340 tech-white-cards-2-swiper">
		<h2 class="tech-white-cards-2__title">Enhance Productivity</h2>
		<p class="tech-white-cards-2__subtitle">You <a href="https://www.scout.systems/data-collection/">capture data</a> that is valuable when your Operators are following digital work instructions. Complex processes are far easier to understand, Managers get greater visibility of the <a href="https://www.scout.systems/shop-floor-management/">Shop Floor</a>, and the data collected fuels continuous improvement projects.</p>
		<div class="tech-white-cards-2__cards">
			<div class="tech-white-cards-2__card">
				<div class="tech-white-cards-2__card-img">
					<img class="lazyload" src="{{asset "assets/images/work-instructions/white-cards-image1-6536ed39c6f36.webp"}}" alt="buy-in image">
				</div>
				<div class="tech-white-cards-2__card-text">
					<h3 class="tech-white-cards-2__card-title">Speak Their Language</h3>
					<p class="tech-white-cards-2__card-description">Work is work - and it's even harder when you're reading work instructions in a second language. Automatically convert step by step instructions into multiple languages.</p>
				</div>
			</div>
			<div class="tech-white-cards-2__card">
				<div class="tech-white-cards-2__card-img">
					<img class="lazyload" src="{{asset "assets/images/work-instructions/white-cards-image2-6536ed38aa6d7.webp"}}" alt="buy-in image">
				</div>
				<div class="tech-white-cards-2__card-text">
					<h3 class="tech-white-cards-2__card-title">Immediate Assistance</h3>
					<p class="tech-white-cards-2__card-description">With greater visibility of the Shop Floor through Dashboards and ANDONs, production stops are quickly resolved. Custom notifications can be made to send to support staff.</p>
				</div>
			</div>
			<div class="tech-white-cards-2__card">
				<div class="tech-white-cards-2__card-img">
					<img class="lazyload" src="{{asset "assets/images/work-instructions/white-cards-image3-6536ed39207fe.webp"}}" alt="buy-in image">
				</div>
				<div class="tech-white-cards-2__card-text">
					<h3 class="tech-white-cards-2__card-title">Gamify Engagement</h3>
					<p class="tech-white-cards-2__card-description">Breaking records is fun, and when you let Operators know their performance they can become more focused on the job at hand. Even complex processes become interesting.</p>
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>