<div class="tech-white-cards-3">
	<div class="w1340">
		<h2 class="tech-white-cards-3__title">Our mission is to provide ethical manufacturers all over the world with the tools to collect, interpret, and uncover valuable insights that help them compete.</h2>
		<p class="tech-white-cards-3__subtitle">
			We believe that in order to collect exceptional data you must review it from 3 different perspectives, failing to do so could alter the way you interpret your results.
		</p>
		<div class="tech-white-cards-3__cards">
			<div class="tech-white-cards-3__card">
				<div class="tech-white-cards-3__card-iterator">1</div>
				<h3 class="tech-white-cards-3__card-title">Human Action</h3>
				<p class="tech-white-cards-3__card-subtitle">Unique skills and experiences impact a person’s ability to perform different tasks.</p>
				<div class="tech-white-cards-3__card-list">
					<h4 class="tech-white-cards-3__card-list-item"><span class="tech-white-cards-3__card-list-round"></span>Work Order Productivity</h4>
					<h4 class="tech-white-cards-3__card-list-item"><span class="tech-white-cards-3__card-list-round"></span>Consistency of Pace</h4>
					<h4 class="tech-white-cards-3__card-list-item"><span class="tech-white-cards-3__card-list-round"></span>Engagement with Instruction</h4>
				</div>
			</div>
			<div class="tech-white-cards-3__card">
				<div class="tech-white-cards-3__card-iterator">2</div>
				<h3 class="tech-white-cards-3__card-title">Equipment Usage</h3>
				<p class="tech-white-cards-3__card-subtitle">Optimal selection and proper upkeep of equipment yields greater productivity.</p>
				<div class="tech-white-cards-3__card-list">
					<h4 class="tech-white-cards-3__card-list-item"><span class="tech-white-cards-3__card-list-round"></span>Setup Duration</h4>
					<h4 class="tech-white-cards-3__card-list-item"><span class="tech-white-cards-3__card-list-round"></span>Value Added Time</h4>
					<h4 class="tech-white-cards-3__card-list-item"><span class="tech-white-cards-3__card-list-round"></span>Down-Time Frequency</h4>
				</div>
			</div>
			<div class="tech-white-cards-3__card">
				<div class="tech-white-cards-3__card-iterator">3</div>
				<h3 class="tech-white-cards-3__card-title">Operational Challenges</h3>
				<p class="tech-white-cards-3__card-subtitle">Failures to support your production process significantly alter your capacity.</p>
				<div class="tech-white-cards-3__card-list">
					<h4 class="tech-white-cards-3__card-list-item"><span class="tech-white-cards-3__card-list-round"></span>Work Order Productivity</h4>
					<h4 class="tech-white-cards-3__card-list-item"><span class="tech-white-cards-3__card-list-round"></span>Consistency of Pace</h4>
					<h4 class="tech-white-cards-3__card-list-item"><span class="tech-white-cards-3__card-list-round"></span>Engagement with Instruction</h4>
				</div>
			</div>
			{{!-- <div class="tech-white-cards-3__card">
				<div class="tech-white-cards-3__card-iterator">1</div>
				<h3 class="tech-white-cards-3__card-title">Human Action</h3>
				<p class="tech-white-cards-3__card-subtitle">Unique skills and experiences impact a person’s ability to perform different tasks.</p>
				<div class="tech-white-cards-3__card-list">
					<h4 class="tech-white-cards-3__card-list-item">Work Order Productivity</h4>
					<h4 class="tech-white-cards-3__card-list-item">Consistency of Pace</h4>
					<h4 class="tech-white-cards-3__card-list-item">Engagement with Instruction</h4>
				</div>
			</div> --}}
		</div>
	</div>
</div>