<div class="tech-big-photo">
	<div class="tech-big-photo__ellipse">{{> images/tech-big-photo-ellipse}}</div>
	<div class="w1340">
		<div class="tech-big-photo__img">
			<img src="{{asset "assets/images/tech-overview/big-photo.jpg"}}" alt="tech overview photo">
		</div>
		<h3 class="tech-big-photo__text">We exclusively serve Manufacturers and their needs. See the <a href="{{@site.url}}/platform-capabilities/">expanded feature list</a>.</h3>
	</div>
</div>