<div class="tech-green-stats">
	<div class="tech-green-stats__ellipse1">{{> images/tech-ellipse-stats}}</div>
	<div class="tech-green-stats__ellipse2">{{> images/tech-ellipse-stats}}</div>
	<div class="w1340">
		<div class="tech-green-stats__left">
			<h2 class="tech-green-stats__title">CATCH UP WITH INNOVATION AND IMPRESS CUSTOMERS</h2>
			<a href="#" class="default-button_green">GET STARTED TODAY</a>
		</div>
		<div class="tech-green-stats__right">
			<div class="tech-green-stats__card">
				<div class="tech-green-stats__card-img">{{> icons/tech-green-stats-icon1}}</div>
				<div class="tech-green-stats__card-text">
					<h3 class="tech-green-stats__card-title">Reduce Operational Costs</h3>
					<p class="tech-green-stats__card-description">Experience a 5-15% increase in your capacity due to automating high labor tasks and reducing waste.</p>
				</div>
			</div>
			<div class="tech-green-stats__card">
				<div class="tech-green-stats__card-img">{{> icons/tech-green-stats-icon2}}</div>
				<div class="tech-green-stats__card-text">
					<h3 class="tech-green-stats__card-title">Secure Tribal Knowledge</h3>
					<p class="tech-green-stats__card-description">Rapidly create work instructions, simplify revision control, and reduce training time for new employees.</p>
				</div>
			</div>
			<div class="tech-green-stats__card">
				<div class="tech-green-stats__card-img">{{> icons/tech-green-stats-icon3}}</div>
				<div class="tech-green-stats__card-text">
					<h3 class="tech-green-stats__card-title">Improve Quality</h3>
					<p class="tech-green-stats__card-description">Implement inline quality assurance methods to reduce defect occurrences and lower the cost of quality.</p>
				</div>
			</div>
		</div>
	</div>
</div>