<div class="tech-green-cards-2">
	<div class="tech-green-cards-2__ellipse1">{{> images/ellipse1}}</div>
	<div class="tech-green-cards-2__ellipse2">{{> images/ellipse2}}</div>
	<div class="w1340">
		<h2 class="tech-green-cards-2__title">VERSATILE WORK INSTRUCTIONS</h2>
		<p class="tech-green-cards-2__subtitle">What makes our platform unique is its ability to support Assembly and Fabrication, in virtually any industry. Complex procedures can be broken into step by step processes that are useful to both seasoned and new employees. Simple tasks can be used to capture data and give easy access to real time visibility.</p>
		<div class="tech-green-cards-2__cards">
			<div class="tech-green-cards-2__card">
				<img src="{{asset "assets/images/work-instructions/wi-sec2-assembly-6536ed409a5c1.webp"}}" alt="work instructions image" class="tech-green-cards-2__card-img">
				<h4 class="tech-green-cards-2__card-title">Assembly</h4>
			</div>
			<div class="tech-green-cards-2__card">
				<img src="{{asset "assets/images/work-instructions/wi-sec2-machining-6536ed409f6a0.webp"}}" alt="work instructions image" class="tech-green-cards-2__card-img">
				<h4 class="tech-green-cards-2__card-title">Machining</h4>
			</div>
		</div>
		<p class="tech-green-cards-2__subtitle">Our popular Variant feature helps support high mix, low volume production by reducing the number of work instructions needed while maintaining flexibility. The Change Log and Publishing Reviewers compares previous versions ensuring up to date information is being documented. Regardless of your processes, it is highly likely that our work instruction software will be a powerful tool for your organization.</p>
	</div>
</div>