<div class="tech-u-accordion-wide">
	<div class="w1340">
		<div class="tech-u-accordion-wide__header">
			<h2 class="tech-u-accordion-wide__header-title">Frequently asked questions</h2>
			<p class="tech-u-accordion-wide__header-subtitle">Everything you need to know about the product and billing.</p>
		</div>

		<div class="tech-u-accordion-wide__item">
			<div class="tech-u-accordion-wide__item-header active">
				<h3 class="tech-u-accordion-wide__title">What type of computers can I use?</h3>
				<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
			</div>

			<div class="tech-u-accordion-wide__body">
				<div class="tech-u-accordion-wide__list-item">
					<p class="tech-u-accordion-wide__list-title">Compass can be run on Tablets, Laptops, or Desktops that are running Windows. HQ is accessible on any device and operating system.</p>
				</div>
			</div>
		</div>
		<div class="tech-u-accordion-wide__item">
			<div class="tech-u-accordion-wide__item-header">
				<h3 class="tech-u-accordion-wide__title">How difficult will this be for my IT Department?</h3>
				<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
			</div>

			<div class="tech-u-accordion-wide__body">
				<div class="tech-u-accordion-wide__list-item">
					<p class="tech-u-accordion-wide__list-title">The efforts required are minimal, IT will need to be present for the installation of Compass. On average an installation takes 3 minutes per computer.</p>
				</div>
			</div>
		</div>
		<div class="tech-u-accordion-wide__item">
			<div class="tech-u-accordion-wide__item-header">
				<h3 class="tech-u-accordion-wide__title">What if my internet isn’t very good? Is Wifi strong enough?</h3>
				<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
			</div>

			<div class="tech-u-accordion-wide__body">
				<div class="tech-u-accordion-wide__list-item">
					<p class="tech-u-accordion-wide__list-title">Wifi should be sufficient - the stronger the signal the better. Our platform is also designed to be able to maintain data integrity during intermittent internet access if dropouts were to occur.</p>
				</div>
			</div>
		</div>
		<div class="tech-u-accordion-wide__item">
			<div class="tech-u-accordion-wide__item-header">
				<h3 class="tech-u-accordion-wide__title">What type of manufacturers use this platform?</h3>
				<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
			</div>

			<div class="tech-u-accordion-wide__body">
				<div class="tech-u-accordion-wide__list-item">
					<p class="tech-u-accordion-wide__list-title">Our technology is installed worldwide to manufacturers ranging in size from start-up to 10,000+ employees. The platform offering is so vast and configurable, it works well with Assembly, Machining, Plastics and Robotics.</p>
				</div>
			</div>
		</div>
		<div class="tech-u-accordion-wide__item">
			<div class="tech-u-accordion-wide__item-header">
				<h3 class="tech-u-accordion-wide__title">Is this a cloud-based platform? How secure is it?</h3>
				<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
			</div>

			<div class="tech-u-accordion-wide__body">
				<div class="tech-u-accordion-wide__list-item">
					<p class="tech-u-accordion-wide__list-title">Yes and very! Our platform is stored on Microsoft Azure and we practice industry standards for security and data backups. We can provide detailed specifics upon request.</p>
				</div>
			</div>
		</div>
		<div class="tech-u-accordion-wide__item">
			<div class="tech-u-accordion-wide__item-header">
				<h3 class="tech-u-accordion-wide__title">Is there a free trial available?</h3>
				<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
			</div>

			<div class="tech-u-accordion-wide__body">
				<div class="tech-u-accordion-wide__list-item">
					<p class="tech-u-accordion-wide__list-title">No, this is not something we offer. We personally guide new customers through the configuration, installation, and training of the platform. Historically we’ve found that playing around with a free trial results in very slow uptake throughout your facility - our goal is to get you fully functioning in 90 days or less.</p>
				</div>
			</div>
		</div>
		<div class="tech-u-accordion-wide__item">
			<div class="tech-u-accordion-wide__item-header">
				<h3 class="tech-u-accordion-wide__title">Can I use my on-site servers?</h3>
				<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
			</div>

			<div class="tech-u-accordion-wide__body">
				<div class="tech-u-accordion-wide__list-item">
					<p class="tech-u-accordion-wide__list-title">It is technically possible though very rare. If you must use an on-site server we will need to discuss a custom maintenance plan for your needs.</p>
				</div>
			</div>
		</div>
		<div class="tech-u-accordion-wide__item">
			<div class="tech-u-accordion-wide__item-header">
				<h3 class="tech-u-accordion-wide__title">Is this a monthly subscription, or how do we pay for this system?</h3>
				<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
			</div>

			<div class="tech-u-accordion-wide__body">
				<div class="tech-u-accordion-wide__list-item">
					<p class="tech-u-accordion-wide__list-title">Yes, as a SaaS there is a monthly subscription cost. We only charge for Compass stations while access to HQ and every User is free. Billing can also be done quarterly, bi-annually or annually.</p>
				</div>
			</div>
		</div>
		<div class="tech-u-accordion-wide__item">
			<div class="tech-u-accordion-wide__item-header">
				<h3 class="tech-u-accordion-wide__title">Is your edge device included in the price?</h3>
				<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
			</div>

			<div class="tech-u-accordion-wide__body">
				<div class="tech-u-accordion-wide__list-item">
					<p class="tech-u-accordion-wide__list-title">No, Trackers are optional and sold (or leased) separately.</p>
				</div>
			</div>
		</div>
		<div class="tech-u-accordion-wide__item">
			<div class="tech-u-accordion-wide__item-header">
				<h3 class="tech-u-accordion-wide__title">Do I own my data? What about my designs?</h3>
				<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
			</div>

			<div class="tech-u-accordion-wide__body">
				<div class="tech-u-accordion-wide__list-item">
					<p class="tech-u-accordion-wide__list-title">Absolutely yes! All data and work instructions are your property. More information on this is provided in our Terms of Service.</p>
				</div>
			</div>
		</div>
		<div class="tech-u-accordion-wide__item">
			<div class="tech-u-accordion-wide__item-header">
				<h3 class="tech-u-accordion-wide__title">What does the Smart Tool integration look like?</h3>
				<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
			</div>

			<div class="tech-u-accordion-wide__body">
				<div class="tech-u-accordion-wide__list-item">
					<p class="tech-u-accordion-wide__list-title">Smart Tool integration can be a vast offering. From commercial tools to even home-built equipment. Ultimately, the integration is looking for validation that the appropriate action has taken place.</p>
				</div>
			</div>
		</div>
		<div class="tech-u-accordion-wide__item">
			<div class="tech-u-accordion-wide__item-header">
				<h3 class="tech-u-accordion-wide__title">Can my operators sign in at more than one station?</h3>
				<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
			</div>

			<div class="tech-u-accordion-wide__body">
				<div class="tech-u-accordion-wide__list-item">
					<p class="tech-u-accordion-wide__list-title">Yes they can, but this will lead to doubling their Applied Hours in the system. If this is common in your facility, inform your Customer Success Representative and they will review the best practices with you and your team.</p>
				</div>
			</div>
		</div>
	</div>
</div>