<div class="tech-green-cards">
	<div class="tech-green-cards__ellipse1">{{> images/tech-green-cards-ellipse1}}</div>
	<div class="tech-green-cards__ellipse2">{{> images/tech-green-cards-ellipse2}}</div>
	<div class="tech-green-cards__ellipse3">{{> images/tech-green-cards-ellipse2}}</div>
	<div class="w1340">
		<div class="tech-green-cards__card">
			<img src="{{asset "assets/images/tech-overview/Station Statuses.png"}}" alt="station statuses image" class="tech-green-cards__card-img">
			<div class="tech-green-cards__card-text">
				<h2 class="tech-green-cards__card-title">Digital Twin</h2>
				<p class="tech-green-cards__card-description">Empower your management staff with the ability to monitor your factory from any device around the world. View real-time production dashboards and instant notification of Production Stops.</p>
				<a class="learn-more-button" href="#">Learn more <span class="green-arrow">{{>icons/arrow-right}}</span></a>
			</div>
		</div>
		<div class="tech-green-cards__card">
			<div class="tech-green-cards__card-text">
				<h2 class="tech-green-cards__card-title">Production Analysis</h2>
				<p class="tech-green-cards__card-description">EMeasure your production stops down to the second. Discover which operators are best performers, and have confidence in the expected labor.</p>
				<a class="learn-more-button" href="#">Learn more <span class="green-arrow">{{>icons/arrow-right}}</span></a>
			</div>
			<img src="{{asset "assets/images/tech-overview/Production History Screen.png"}}" alt="production history image" class="tech-green-cards__card-img">
		</div>
	</div>
</div>