<div class="tech-video-white">
	<div class="w1340">
		<video src="https://scoutweb.blob.core.windows.net/assets/Factory%20Final%201080p_16.mp4"  muted autoplay loop playsinline style="pointer-events: none;"></video>
	</div>
</div>