<div class="tech-green-cards-2">
	<div class="tech-green-cards-2__ellipse1">{{> images/ellipse1}}</div>
	<div class="tech-green-cards-2__ellipse2">{{> images/ellipse2}}</div>
	<div class="w1340">
		<h2 class="tech-green-cards-2__title">VERSATILE WORK INSTRUCTIONS</h2>
		<p class="tech-green-cards-2__subtitle">Capture and preserve the vital tribal knowledge required for every job, whether it's in assembly, machining, single-piece flow, or batch production.</p>
		<div class="tech-green-cards-2__cards">
			<div class="tech-green-cards-2__card">
				<img src="{{asset "assets/images/work-instructions/WI-Sec2-Assembly.png"}}" alt="work instructions image" class="tech-green-cards-2__card-img">
				<h4 class="tech-green-cards-2__card-title">Assembly</h4>
			</div>
			<div class="tech-green-cards-2__card">
				<img src="{{asset "assets/images/work-instructions//WI-Sec2-Machining.JPG"}}" alt="work instructions image" class="tech-green-cards-2__card-img">
				<h4 class="tech-green-cards-2__card-title">Machining</h4>
			</div>
		</div>
	</div>
</div>