<div class="tech-white-cards-2">
	<div class="w1340 tech-white-cards-2-swiper">
		<h2 class="tech-white-cards-2__title">GAIN OPERATOR BUY-IN</h2>
		<p class="tech-white-cards-2__subtitle">You obtain valuable data when your Operators are following a standard procedure. Give them the tools to perform better and actually enjoy working.</p>
		<div class="tech-white-cards-2__cards">
			<div class="tech-white-cards-2__card">
				<div class="tech-white-cards-2__card-img">
					<img class="lazyload" src="{{asset "assets/images/work-instructions/white-cards-image1-6536ed39c6f36.webp"}}" alt="buy-in image">
				</div>
				<div class="tech-white-cards-2__card-text">
					<h3 class="tech-white-cards-2__card-title">Speak Their Language</h3>
					<p class="tech-white-cards-2__card-description">Work is work - and it’s even harder when you’re trying to follow instructions in a second language. Compass will automatically convert step instruction text into the Operator’s language of choice.</p>
				</div>
			</div>
			<div class="tech-white-cards-2__card">
				<div class="tech-white-cards-2__card-img">
					<img class="lazyload" src="{{asset "assets/images/work-instructions/white-cards-image2-6536ed38aa6d7.webp"}}" alt="buy-in image">
				</div>
				<div class="tech-white-cards-2__card-text">
					<h3 class="tech-white-cards-2__card-title">Immediate Assistance</h3>
					<p class="tech-white-cards-2__card-description">Production stops are frustrating for Operators. Reducing the time a solution takes makes everyone happier. ANDON Dashboards and custom notifications help speed up the process.</p>
				</div>
			</div>
			<div class="tech-white-cards-2__card">
				<div class="tech-white-cards-2__card-img">
					<img class="lazyload" src="{{asset "assets/images/work-instructions/white-cards-image3-6536ed39207fe.webp"}}" alt="buy-in image">
				</div>
				<div class="tech-white-cards-2__card-text">
					<h3 class="tech-white-cards-2__card-title">Gamify Engagement</h3>
					<p class="tech-white-cards-2__card-description">Breaking records is fun, and when you let Operators know their performance they can become more focused on the job at hand. Give your Operators production metrics to know how they are doing.</p>
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>