{{!< default}}

{{#contentFor "title"}}{{@site.title}} - Accelerator{{plural pagination.page empty='' singular='' plural=' – (Page %)'}}{{/contentFor}}

{{> structure/form-popup}}

<div class="page-accelerator">
	<div class="page-accelerator__shadow1">{{> images/shadow1}}</div>
	<div class="page-accelerator__shadow2">{{> images/shadow1}}</div>
	<div class="page-accelerator__shadow3">{{> images/shadow1}}</div>
	<div class="page-accelerator__shadow4">{{> images/shadow1}}</div>


	<div class="page-accelerator__blocks">
		{{> structure/technology/accelerator-block-1}}

		{{> structure/technology/accelerator-block-2}}

		{{> structure/technology/accelerator-block-3}}

		<div class="tech-video-white">
			<div class="w1340">
				<iframe src="https://player.vimeo.com/video/877120763?h=b2851a8585&title=0&byline=0&portrait=0"  frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>

		{{> structure/technology/accelerator-block-4}}

		{{> structure/technology/accelerator-block-5}}

		{{> structure/technology/accelerator-block-6}}
	</div>
</div>