{{!< default}}

{{#contentFor "title"}}Complete your Digital Factory Transformation with Scout Systems{{plural pagination.page empty='' singular='' plural=' – (Page %)'}}{{/contentFor}}
{{#contentFor "meta-description"}}Embrace Digital Factory Transformation with Scout Systems' platform, offering advanced capabilities for seamless manufacturing process optimization.{{/contentFor}}

<div class="tech-hero features">
	<div class="tech-hero__ellipse1">{{> images/tech-ellipse-black1}}</div>
	<div class="tech-hero__ellipse2">{{> images/tech-ellipse-black2}}</div>
	<div class="w1340">
		<div class="tech-hero__text">
			<h1 class="tech-hero__title">Platform Capabilities</h1>
		</div>
	</div>
</div>

<div class="page-features">
	<div class="page-features__shadow1 shadow">{{> images/page-shadow-1}}</div>
	<div class="page-features__shadow2 shadow">{{> images/page-shadow-2}}</div>
	<div class="page-features__shadow3 shadow">{{> images/page-shadow-3}}</div>
	<div class="page-features__shadow4 shadow">{{> images/page-shadow-4}}</div>
	<div class="page-features__shadow5 shadow">{{> images/page-shadow-5}}</div>


	<div class="w1340">
		<p class="page-features__description">Transitioning to a digital factory offers a plethora of benefits for manufacturers. With our platform, you can have the necessary flexibility to adapt to changing demands while also collecting and analyzing data, and enhancing quality assurance. Unlike other platforms that require customers to pick and choose specific features, our platform provides access to the complete list. Here are some of the most commonly used features of our platform.</p>

	</div>
	<div class="tech-u-accordion-wide features">
		<div class="w1340 features">

			<div class="tech-u-accordion-wide__green-header">
				<h2 class="tech-u-accordion-wide__green-header-item">POPULAR COMPASS FEATURES</h2>
				<h2 class="tech-u-accordion-wide__green-header-item">INCLUDED</h2>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Instruction-Less Mode</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Experience effortless setup and training for your staff. Achieve complete factory tracking without the upfront work typically associated with documenting work instructions. This is an excellent starting point for your digital transformation journey.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Included Users</h3>
					<div class="tech-u-accordion-wide__option">Unlimited</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Unlike many SaaS alternatives that impose user-based charges, our system offers unlimited user access without incurring additional costs. We encourage each individual to create a unique account to ensure the most accurate data capture possible.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Batch Jobs</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Gain the flexibility to execute production orders in batches rather than adhering to single-piece flow methods.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Nest Jobs</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Ideal for machine shops equipped with CNC machinery, simultaneously construct multiple products while capturing individual part production data. This is an excellent solution for vertically integrated manufacturing facilities.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Equipment/Tool Communication</h3>
					<div class="tech-u-accordion-wide__option">Add-on</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Utilizing our edge device (Tracker), you can monitor the usage of tools or equipment. In conjunction with digital work instructions, incorporate Go/No-Go quality assurance techniques, or optimize the cell for ergonomics to seamlessly sequence steps.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Multimedia Work Instructions</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Streamline intricate work instructions by incorporating multiple images within a single step. For more complex guidance, utilize a video to demonstrate the specific expertise required to carry out the task.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Media Library</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Incorporate extra images, videos, or PDFs into the media library to enrich your resources. Replace the traditional MSDS folders by directly assigning crucial information to the work instructions.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Embedded Warnings</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Enhance production quality by providing Operators with real-time information about known defects at the precise process step where they occur. Minimize injuries by alerting Operators to hazardous tasks and offering guidance on how to execute them safely.</p>
					</div>
				</div>
			</div>
			
			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Multilingual Translation</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Make sure your operators comprehend the crucial information you share by enabling them to read it in their preferred language. Write your work instructions in English, and our system will automatically translate them to the language chosen by your operators.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Suspend Jobs and Change Priority</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Gain the flexibility to address your customers' pressing needs. Operators can pause a job to prioritize the most urgent work order. Data will be retained, allowing operators to return to the job and seamlessly resume from where they left off.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Operator Inputs</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Remove the need for paperwork and manual data entry by incorporating operator inputs directly into work instructions. Conduct quality inspections, take SPC measurements, add notes, and more, all within the digital platform.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Send Messages</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Minimize response time to issues by empowering operators with the ability to effortlessly send email or SMS messages to the designated support staff for their work area when problems occur.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Record Production Stops</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Precisely document production downtime by capturing every lost second and the associated reasons using the integrated pause screen for waste tracking.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Shift Sharing</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Seamlessly transition work orders between shifts while tracking individual contributions. Operators can sign out in the middle of a task, and the next operator signing in will have the option to either continue the unfinished work or choose a different order from the production queue.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Skipped Process Warning</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Incorporate smart features that help ensure no critical steps are overlooked. If Operators move too quickly or miss an essential part of the work instruction, the system will alert them to review their work and confirm they've completed all necessary tasks.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__green-header">
				<h2 class="tech-u-accordion-wide__green-header-item">POPULAR HQ FEATURES</h2>
				<h2 class="tech-u-accordion-wide__green-header-item">INCLUDED</h2>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Set Production Schedules</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">HQ's Live Production enables authorized users to access, modify, and reprioritize your production schedule from any location worldwide.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Predict Production End Times</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">HQ's Live Production employs statistical analytics to determine a reliable pace for completing work orders. This information allows you to accurately estimate order completion times, helping to minimize gaps between orders.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Work Instruction Designer</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Our system is an award-winning solution known for its user-friendly interface, making it easy for your staff to quickly document digital work instructions. We have built-in tools that streamline the process, reducing the amount of effort required.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Instruction Publishing Reviewers</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">To achieve greater process control, you can establish a collaborative environment where individual or multiple departments can review draft instructions before they are implemented on the production floor.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Historical Change Log</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">With the Change Log feature, all modifications made to the documentation are recorded, enabling you to review the previous versions of the work instructions. You can easily track who made the changes, who approved or rejected a design, and the rationale behind the modifications.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Instruction-Less Mode</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Experience effortless setup and training for your staff. Achieve complete factory tracking without the upfront work typically associated with documenting work instructions. This is an excellent starting point for your digital transformation journey.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Unit-in-Unit</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Save time for your documentation control teams by embedding existing instructions for commonly performed tasks into new instructions. This eliminates the need to create new instructions from scratch every time and ensures consistency across the board.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Family Class Units</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">The Unit-in-Unit feature with Variant eliminates the need to create work instructions for every option of a family class. Instead, you can create options for each task, significantly reducing the work required.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Smart Data Collection/Processing</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">All data is automatically captured and analyzed to identify statistical abnormalities. Any questionable data is flagged and excluded from relevant production reports, ensuring accurate and reliable data analysis.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Reports</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Gain access to a variety of production reports designed for your product, operator performance, work cells, and equipment. Analyze the actual labor required for your product and determine which operators are most skilled for specific tasks.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">ANDON Dashboard</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Use our ANDON Dashboard to handle reactive problems swiftly, in order to maximize efficiency. The dashboard is equipped with internal response scoring, allowing your response team to set objectives and provide more effective support.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">KPI Dashboard</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Get a comprehensive view of your production key performance indicators (KPIs) through a single, user-friendly dashboard. Keep track of the number of completed work orders, the overall efficiency of your work area or plant, and identify the issues causing the most significant production stops.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Global Tool Library with Updating</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Our system features a simple wizard that makes updating all of your work instructions that will be affected by obsolete or replaced tools quick and easy.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Unique Work Area Settings</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Tailor your work area settings to match your organization's requirements, providing Operators with access to the most pertinent information.</p>
					</div>
				</div>
			</div>


			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Scheduled Breaks</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Set a customized break schedule that automatically pauses the production clock, ensuring that the production data collected is accurately aligned with your actual efforts.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__green-header">
				<h2 class="tech-u-accordion-wide__green-header-item">API AND ADMINISTRATION	</h2>
				<h2 class="tech-u-accordion-wide__green-header-item">INCLUDED</h2>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">API Development Portal</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">When you're ready to integrate our platform with your existing systems, you can access our API Development Portal. The portal provides detailed descriptions and test environments to assist your staff in the process.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">API Call Limits</h3>
					<div class="tech-u-accordion-wide__option">100,000 / week</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">With our platform, you can make up to 100,000 weekly API calls to support your integration requirements. This enables you to load your production schedule, complete jobs in your ERP system, and create customized dashboards to suit your needs.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Additional API Calls</h3>
					<div class="tech-u-accordion-wide__option">Add-On</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">We understand that your integration needs may exceed our weekly API allowance. Therefore, we are happy to provide additional support and increase your API limits on a weekly basis.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Different User Roles</h3>
					<div class="tech-u-accordion-wide__option">10</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">You can provide unlimited access to the platform for all staff members in your facility, and customize their individual access rights based on their roles and responsibilities. This allows for better control over the system and ensures that sensitive data is only accessible to authorized personnel.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Software as a Service (SaaS)</h3>
					<div class="tech-u-accordion-wide__option">Standard</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Our platform is hosted on a dynamically scaling account on Microsoft Azure to ensure optimal speed for our customers. With regular backups in place, we guarantee a 99.9% uptime to ensure your business runs smoothly without any interruptions.</p>
					</div>
				</div>
			</div>

			<div class="tech-u-accordion-wide__item">
				<div class="tech-u-accordion-wide__item-header">
					<h3 class="tech-u-accordion-wide__title">Customer Support</h3>
					<div class="tech-u-accordion-wide__option">{{> icons/check-mark-green}}</div>
					<div class="tech-u-accordion-wide__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion-wide__body">
					<div class="tech-u-accordion-wide__list-item">
						<p class="tech-u-accordion-wide__list-title">Our commitment to providing exceptional customer service is a cornerstone of our platform. Every customer is assigned a dedicated Customer Success Representative who will work closely with you to understand your business objectives and guide you through your digital transformation journey. Additionally, our technical support staff is available 24/7 to provide assistance whenever you need it.</p>
					</div>
				</div>
			</div>
			

		</div>
	</div>
</div>

