{{!< default}}

{{#contentFor "title"}}{{@site.title}} - Pricing{{plural pagination.page empty='' singular='' plural=' – (Page %)'}}{{/contentFor}}

{{> structure/form-popup}}

<div class="tech-hero pricing">
	<div class="tech-hero__ellipse1">{{> images/tech-ellipse-black1}}</div>
	<div class="tech-hero__ellipse2">{{> images/tech-ellipse-black2}}</div>
	<div class="w1340">
		<div class="tech-hero__text">
			<h1 class="tech-hero__title">ready to get started</h1>
		</div>
		<div class="tech-hero__blocks">
			<div class="tech-hero__block1">
				<h2 class="tech-hero__block1-title">Accelerator</h2>
				<p class="tech-hero__block1-subtitle">Stay ahead in the race of innovation with ease and confidence</p>
				<span class="tech-hero__block1-price">$5000</span>
			</div>
			<div class="tech-hero__block2">
				<h3 class="tech-hero__block2-title">Program Includes:</h3>
				<div class="tech-hero__block2-item"><div class="tech-hero__block2-icon">{{> icons/check-mark-green}}</div> 3-Month Program Guided by a Dedicated Customer Success Representative</div>
				<div class="tech-hero__block2-item"><div class="tech-hero__block2-icon">{{> icons/check-mark-green}}</div> Access to PRO Tier</div>
				<div class="tech-hero__block2-item"><div class="tech-hero__block2-icon">{{> icons/check-mark-green}}</div> Up to 20 Compass Stations</div>
			</div>
			<div class="tech-hero__block3">
				<div style="cursor: pointer;" class="default-button_green runScriptButton">Get started</div>
				<div class="tech-hero__block3-description"> 
					<div>{{> icons/info}}</div>
					<p>We believe in the power of our program so much that we offer a money-back guarantee if you’re not completely satisfied</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="page-pricing">
	<div class="page-pricing__shadow">{{> images/shadow1}}</div>
	<div class="w1340 pricing-swiper">
		<h1 class="page-pricing__title">MAINTAIN ACCESS</h1>
		<p class="page-pricing__subtitle">After the Accelerator Program, select the program that fits your needs best.</p>
		<div class="page-pricing__cards">
			<div class="page-pricing__card pricing-card">
				<div class="pricing-card__header">
					<div class="pricing-card__icon">{{> icons/diamond}}</div>
					<h3 class="pricing-card__title">Lean</h3>
				</div>
				<div class="pricing-card__price"><span class="pricing-card__price_bold">$30</span>/ mo (per Compass Station)</div>
				<div style="cursor: pointer;" class="default-button green runScriptButton">Get started</div>
				<div class="pricing-card__features">
					<div class="pricing-card__features-title">Includes:</div>
					<div class="pricing-card__feature">
						<div class="pricing-card__feature-left">
							<div>{{> icons/check-mark-green}}</div>
							Minimum Stations:
						</div>
						<div class="pricing-card__feature-right">
							10
						</div>
					</div>
					<div class="pricing-card__feature">
						<div class="pricing-card__feature-left">
							<div>{{> icons/check-mark-green}}</div>
							Compass Version:
						</div>
						<div class="pricing-card__feature-right">
							Basic
						</div>
					</div>
					<div class="pricing-card__feature">
						<div class="pricing-card__feature-left">
							<div>{{> icons/check-mark-green}}</div>
							HQ Applications: 
						</div>
						<div class="pricing-card__feature-right">
							Admin <br>
							Designer <br>
							Live Production <br> 
							Reports
						</div>
					</div>
					<div class="pricing-card__feature">
						<div class="pricing-card__feature-left">
							<div>{{> icons/check-mark-green}}</div>
							Continued Training:
						</div>
						<div class="pricing-card__feature-right">
							Scout Academy
						</div>
					</div>
					<div class="pricing-card__feature">
						<div class="pricing-card__feature-left">
							<div>{{> icons/check-mark-green}}</div>
							Support: 
						</div>
						<div class="pricing-card__feature-right">
							24/7 Chat & Tickets
						</div>
					</div>
					<div class="pricing-card__feature">
						<div class="pricing-card__feature-left">
							<div>{{> icons/check-mark-green}}</div>
							Dedicated Rep: 
						</div>
						<div class="pricing-card__feature-right">
							X
						</div>
					</div>
				</div>
			</div>

			<div class="page-pricing__card pricing-card active">
				<div class="pricing-card__header">
					<div class="pricing-card__icon">{{> icons/star}}</div>
					<h3 class="pricing-card__title">PRO</h3>
					<div class="pricing-card__title-offer">MOST POPULAR</div>
				</div>
				<div class="pricing-card__price"><span class="pricing-card__price_bold">$50</span>/ mo (per Compass Station)</div>
				<div style="cursor: pointer;" class="default-button green runScriptButton">Get started</div>
				<div class="pricing-card__features">
					<div class="pricing-card__features-title">Includes:</div>
					<div class="pricing-card__feature">
						<div class="pricing-card__feature-left">
							<div>{{> icons/check-mark-green}}</div>
							Minimum Stations:
						</div>
						<div class="pricing-card__feature-right">
							10
						</div>
					</div>
					<div class="pricing-card__feature">
						<div class="pricing-card__feature-left">
							<div>{{> icons/check-mark-green}}</div>
							Compass Version:
						</div>
						<div class="pricing-card__feature-right">
							Advanced
						</div>
					</div>
					<div class="pricing-card__feature">
						<div class="pricing-card__feature-left">
							<div>{{> icons/check-mark-green}}</div>
							HQ Applications: 
						</div>
						<div class="pricing-card__feature-right">
							All of lean <br>
							Dashboards <br>
							Api portal 
						</div>
					</div>
					<div class="pricing-card__feature">
						<div class="pricing-card__feature-left">
							<div>{{> icons/check-mark-green}}</div>
							Continued Training:
						</div>
						<div class="pricing-card__feature-right">
							Scout Academy
						</div>
					</div>
					<div class="pricing-card__feature">
						<div class="pricing-card__feature-left">
							<div>{{> icons/check-mark-green}}</div>
							Support: 
						</div>
						<div class="pricing-card__feature-right">
							24/7 Chat & Tickets
						</div>
					</div>
					<div class="pricing-card__feature">
						<div class="pricing-card__feature-left">
							<div>{{> icons/check-mark-green}}</div>
							Dedicated Rep: 
						</div>
						<div class="pricing-card__feature-right">
							X
						</div>
					</div>
				</div>
			</div>

			<div class="page-pricing__card pricing-card">
				<div class="pricing-card__header">
					<div class="pricing-card__icon">{{> icons/lightning}}</div>
					<h3 class="pricing-card__title">Enterprise </h3>
				</div>
				<div class="pricing-card__price" style="padding-top: 24px;">Let’s Chat</div>
				<div style="cursor: pointer;" class="default-button green runScriptButton">Get started</div>
				<div class="pricing-card__features">
					<div class="pricing-card__features-title">Includes:</div>
					<div class="pricing-card__feature">
						<div class="pricing-card__feature-left">
							<div>{{> icons/check-mark-green}}</div>
							Minimum Stations:
						</div>
						<div class="pricing-card__feature-right">
							20
						</div>
					</div>
					<div class="pricing-card__feature">
						<div class="pricing-card__feature-left">
							<div>{{> icons/check-mark-green}}</div>
							Compass Version:
						</div>
						<div class="pricing-card__feature-right">
							Advanced
						</div>
					</div>
					<div class="pricing-card__feature">
						<div class="pricing-card__feature-left">
							<div>{{> icons/check-mark-green}}</div>
							HQ Applications: 
						</div>
						<div class="pricing-card__feature-right">
							All <br>
							Beta App Access
						</div>
					</div>
					<div class="pricing-card__feature">
						<div class="pricing-card__feature-left">
							<div>{{> icons/check-mark-green}}</div>
							Continued Training:
						</div>
						<div class="pricing-card__feature-right">
							Scout Academy
						</div>
					</div>
					<div class="pricing-card__feature">
						<div class="pricing-card__feature-left">
							<div>{{> icons/check-mark-green}}</div>
							Support: 
						</div>
						<div class="pricing-card__feature-right">
							24/7 Chat & Tickets
						</div>
					</div>
					<div class="pricing-card__feature">
						<div class="pricing-card__feature-left">
							<div>{{> icons/check-mark-green}}</div>
							Dedicated Rep: 
						</div>
						<div class="pricing-card__feature-right">
							Yes
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-prev">{{>icons/small-arrow-left}}</div>
		<div class="swiper-button-next">{{>icons/small-arrow-right}}</div>
	</div>
</div>