{{!< default}}

<div class="tech-hero">
	<div class="tech-hero__ellipse1">{{> images/tech-ellipse-black1}}</div>
	<div class="tech-hero__ellipse2">{{> images/tech-ellipse-black2}}</div>
	<div class="w1340">
		{{> structure/header}}
		{{!-- <div class="breadcrumbs">
			<a href="{{@site.url}}" class="breadcrumbs__link breadcrumbs__previous">Main page</a>
			<span class="breadcrumbs__bullet"></span>
			<a href="#" class="breadcrumbs__link breadcrumbs__current">Tech overview</a>
		</div> --}}
		<div class="tech-hero__text">
			<h1 class="tech-hero__title">Experience Modernized Operations</h1>
			<p class="tech-hero__subtitle">Scout System’s digital solution adapts to fit virtually any type of manufacturer. From Assembly to Machining, Single-Piece-Flow to Batch processes, this universal solution will help streamline your operations.</p>
		</div>
	</div>
</div>

<div style="padding: 5rem 0">
	{{> structure/technology/tech-video-white}}
</div>

{{> structure/technology/tech-green-stats}}

<div style="padding: 10rem 0;">
	{{> structure/technology/tech-u-accordion}}
</div>

{{> structure/technology/tech-big-photo}}

{{> structure/technology/tech-track}}

{{> structure/technology/tech-green-cards}}

<div style="padding: 10rem 0;">
	{{> structure/technology/tech-u-accordion-wide}}
</div>
	