{{!< default}}

<div class="tech-hero">
	<div class="tech-hero__ellipse1">{{> images/tech-ellipse-black1}}</div>
	<div class="tech-hero__ellipse2">{{> images/tech-ellipse-black2}}</div>
	<div class="w1340">
		{{> structure/header}}
		<div class="tech-hero__text">
			<h1 class="tech-hero__title">Digital Work Instructions</h1>
			<p class="tech-hero__subtitle">Connect your Operators to a digital network through intelligent work instructions, revolutionizing the way you train and operate. Boost productivity, reduce defects, and secure tribal knowledge.</p>
		</div>
	</div>
</div>

{{> structure/technology/tech-white-cards-2}}

{{> structure/technology/tech-green-cards-2}}

{{> structure/technology/tech-o-accordion}}

{{> structure/technology/tech-green-photos}}

<div class="contact-us">
	<div class="contact-us__shadow1">{{> images/shadow1}}</div>
	<div class="contact-us__shadow2">{{> images/shadow2}}</div>
	<div class="w1340">
		<div class="contact-us__left">
			<h2 class="contact-us__title">WANT TO SEE A DEMO?</h2>
			<p class="contact-us__subtitle">Let our team show you how easy it is to step into the digital age with interactive work instructions.</p>
			<div class="contact-us__cards">
				<div class="contact-us__card">
					<div class="contact-us__card-img">{{> icons/chat}}</div>
					<div class="contact-us__card-text">
						<h3 class="contact-us__card-title">Email:</h3>
						<p class="contact-us__card-description">info@scout.systems</p>
					</div>
				</div>
				<div class="contact-us__card">
					<div class="contact-us__card-img">{{> icons/map-marker}}</div>
					<div class="contact-us__card-text">
						<h3 class="contact-us__card-title">Office:</h3>
						<p class="contact-us__card-description">3902 West Valley Hwy. N. Suite 104 <br> Auburn, WA 98001, USA</p>
					</div>
				</div>
				<div class="contact-us__card">
					<div class="contact-us__card-img">{{> icons/phone}}</div>
					<div class="contact-us__card-text">
						<h3 class="contact-us__card-title">Phone:</h3>
						<p class="contact-us__card-description">Mon-Fri from 8am - 5pm <br> +1 253 329 2460</p>
					</div>
				</div>
			</div>
		</div>
		<div class="contact-us__right">

		</div>
	</div>
</div>
