{{!< default}}

{{#contentFor "title"}}{{@site.title}} - Tech overview{{plural pagination.page empty='' singular='' plural=' – (Page %)'}}{{/contentFor}}

<div class="tech-hero">
	<div class="tech-hero__ellipse1">{{> images/tech-ellipse-black1}}</div>
	<div class="tech-hero__ellipse2">{{> images/tech-ellipse-black2}}</div>
	<div class="w1340">
		<div class="tech-hero__text">
			<h1 class="tech-hero__title">Experience Modernized Operations</h1>
			<p class="tech-hero__subtitle">Scout System’s digital solution adapts to fit virtually any type of manufacturer. From Assembly to Machining, Single-Piece-Flow to Batch processes, this universal solution will help streamline your operations.</p>
		</div>
	</div>
</div>

{{> structure/technology/tech-video-white}}

{{> structure/technology/tech-green-stats}}

{{> structure/technology/tech-u-accordion}}

{{> structure/technology/tech-big-photo}}

{{> structure/technology/tech-track}}

{{> structure/technology/tech-green-cards}}

{{> structure/technology/tech-u-accordion-wide}}
	