<div class="contact-us">
	<div class="contact-us__shadow1">{{> images/shadow1}}</div>
	<div class="contact-us__shadow2">{{> images/shadow2}}</div>
	<div class="w1340">
		<div class="contact-us__left">
			<h2 class="contact-us__title">HAVE TECHNICAL QUESTIONS?</h2>
			<p class="contact-us__subtitle">We are committed to understanding your equipment and unique needs so that we can provide you with the utmost clarity and tailored solutions.</p>
			<div class="contact-us__cards">
				<div class="contact-us__card">
					<div class="contact-us__card-img">{{> icons/chat}}</div>
					<div class="contact-us__card-text">
						<h3 class="contact-us__card-title">Email:</h3>
						<p class="contact-us__card-description">info@scout.systems</p>
					</div>
				</div>
				<div class="contact-us__card">
					<div class="contact-us__card-img">{{> icons/map-marker}}</div>
					<div class="contact-us__card-text">
						<h3 class="contact-us__card-title">Office:</h3>
						<p class="contact-us__card-description">3902 West Valley Hwy. N. Suite 104 <br> Auburn, WA 98001, USA</p>
					</div>
				</div>
				<div class="contact-us__card">
					<div class="contact-us__card-img">{{> icons/phone}}</div>
					<div class="contact-us__card-text">
						<h3 class="contact-us__card-title">Phone:</h3>
						<p class="contact-us__card-description">Mon-Fri from 8am - 5pm <br> +1 253 329 2460</p>
					</div>
				</div>
			</div>
		</div>
		<div class="contact-us__right">
			{{> demo_form}}
		</div>
	</div>
</div>