<div class="cta">
	<div class="cta__ellipse1">{{>images/ellipse1}}</div>
	<div class="cta__ellipse2">{{>images/ellipse2}}</div>
	<div class="cta__factory"><img src="{{asset "assets/images/factory-image.webp"}}" alt="factory image"></div>

	<div class="cta-content">

		<div class="cta__text">
			<h2 class="cta__title">3-Month Transformation</h2>
			<p class="cta__subtitle">The Accelerator Program is the easiest way to fast-track your digital transformation. We believe working directly with you, targeting your desired deliverables, is why we have a greater than 90% success rate with our customers. Seize this opportunity to thrive in the dynamic landscape of smart manufacturing and secure your place at the forefront of innovation.</p>
			<div class="hero__buttons">
				<a href="#" class="hero__button_green">Schedule Consultation</a>
				<a href="#" class="hero__button">Technology Overview</a>
			</div>
		</div>

	</div>
</div>