<header class="header">
	<a href="{{@site.url}}" class="header__logo">{{>icons/logo-white}}</a>
	<nav class="header__nav">
		<a href="#" class="header__link">technology</a>
		<a href="#" class="header__link">resources</a>
		<a href="#" class="header__link">about us</a>
	</nav>
</header>