<div class="hero">
	<div class="hero__shadow"></div>
	<video id="hero-video" class="hero__background" src={{asset "assets/hero-video.mp4"}} muted  loop></video>
	<div class="hero-content">
		{{>structure/header}}
		<h1 class="hero__title">Dominate the Digital Era of Manufacturing</h1>
		<p class="hero__subtitle">Scout Systems assists manufacturers in a rapid transition to the digital era. Our comprehensive software suite provides a streamlined production process, reductions in waste, higher quality, and faster training. The result is a more modern, optimized operations and a smoother, more efficient production flow.</p>
		<div class="hero__buttons">
			<a href="#" class="default-button_green">Schedule Consultation</a>
			<a href="#" class="default-button">Technology Overview</a>
		</div>
	</div>
</div>