<div class="hero">
	<video id="hero-video" class="hero__background" src="{{asset "assets/images/videos/Scout-Systems-Digital-Factory-Compressed.mp4"}}" muted autoplay loop playsinline style="pointer-events: none;"></video>
	<div class="hero-content">
		<h1 class="hero__title">Dominate the Digital Era of Manufacturing</h1>
		<p class="hero__subtitle">Scout Systems assists manufacturers in a rapid transition to the digital era. Our comprehensive software suite provides a streamlined production process, reductions in waste, higher quality, and faster training. The result is a more modern, optimized operations and a smoother, more efficient production flow.</p>
		<div class="hero__buttons">
			<a href="https://cta-service-cms2.hubspot.com/web-interactives/public/v1/track/redirect?encryptedPayload=AVxigLJdg0x%2BA8JB9S6KB8iaAx440f898ylNEtcv2g1YsQqQEjIxKd5cvRiOVd7EaOwF9nyDgHPIrnCLXl5%2FOktHSwNyOdaaVpdVj2fY9lzeJDQ6EPunHJq83tP7bXIWDOVHcgKxeUlwsZm72DWj9oFDOWat2qj0pUxMvPYfRGMc7oZMvS%2FYZiOY&webInteractiveContentId=128943797352&portalId=41638633" target="_blank" class="default-button_green">Schedule Consultation</a>
			<a href="{{@site.url}}/tech-overview/" class="default-button">Technology Overview</a>
		</div>
	</div>
</div>