<div class="hero">
	<video id="hero-video" class="hero__background" src="{{asset "assets/images/videos/Scout-Systems-Digital-Factory-Compressed.mp4"}}" muted autoplay loop playsinline style="pointer-events: none;"></video>
	<div class="hero-content">
		<h1 class="hero__title">ADVANCED PROCESS CONTROL SOFTWARE FOR MANUFACTURERS</h1>
		<p class="hero__subtitle">A personalized cloud-based MES, where our dedicated team collaborates
		with you to configure Digital Work Instructions, Quality Assurance, and Machine
		Monitoring capabilities to your unique needs, ensuring a seamless Industry 4.0
		adaptation.</p>
		<div class="hero__buttons">
			<a href="{{@site.url}}/tech-overview/" class="default-button_green">Technology Overview</a>
		</div>
	</div>
</div>