@mixin respond($breakpoint) {
	@if $breakpoint ==500px {
		@media only screen and (max-width: 31.2em) {
			@content
		}

		;
	}

	@if $breakpoint ==600px {
		@media only screen and (max-width: 37.5em) {
			@content
		}

		;
	}

	@if $breakpoint ==700px {
		@media only screen and (max-width:  43.7em) {
			@content
		}

		;
	}

	@if $breakpoint ==800px {
		@media only screen and (max-width:  50em) {
			@content
		}

		;
	}

	@if $breakpoint ==900px {
		@media only screen and (max-width: 56.25em) {
			@content
		}

		;
	}

	@if $breakpoint ==1000px {
		@media only screen and (max-width: 62.5em) {
			@content
		}

		;
	}

	@if $breakpoint ==1200px {
		@media only screen and (max-width: 75em) {
			@content
		}

		;
	}

	@if $breakpoint ==big-desktop {
		@media only screen and (min-width: 112.5em) {
			// 1800px
			@content
		}

		;
	}
}

body.not-scroll {
	overflow: hidden;
}

.show-mobile {
	display: none !important;

	@media (max-width:500px) {
		display: block !important;
	}
}

.show-desktop {
	@media (max-width:500px) {
		display: none !important;
	}
}

html {
	overflow-x: hidden;

	// This defines what 1 rem is 
	font-size: 62.5% !important; // 1rem = 10px; 10px/16px = 62.5%

	@include respond(1200px) {
		font-size: 56.25% !important; // 1 rem = 9 px; 9/16px = 56.25%
	}

	// @include respond(1000px) {
	// 	font-size: 50% !important; // 1 rem = 8px; 8/16px = 50% 
	// }

	// @include respond(900px) {
	// 	font-size: 43% !important; // 1 rem = 7px; 7/16 = 43%
	// }

	// @include respond(big-desktop) {
	// 	font-size: 75% !important; // 1rem = 12px; 12/16px = 75%
	// }

	scroll-behavior: smooth;
}

/* Colors */ 

$black_100: #333447;
$black_90: #3D3E52;

$grey_100: #757575;
$grey_90: #87899F;
$grey_50: #C7C8DA;
$grey_20: #EBEBEB;

$green_100: #14BD84;
$green_10: #B4DED0;

$white: #FFFFFF;

/* Fonts */ 

$font_1: 'Source Sans 3';

* {
	font-family: $font_1 !important;
}

.green-arrow {
	width: 2.4rem;
	height: 2.4rem;
}

/* Swiper.js */

.swiper-pagination {
	top: 90% !important;
}

.swiper-button-prev {
	top: 92.3% !important;
	left: 40% !important;

	&::after {
		display: none;
	}

	@media (max-width:768px) {
		display: none !important;
	}
}

.swiper-button-next {
	top: 92.3% !important;
	right: 40% !important;

	&::after {
		display: none;
	}

	@media (max-width:768px) {
		display: none !important;
	}
}


.swiper-pagination-bullet-active {
	background: #039664 !important;
}

/* Breadcrumbs */

.breadcrumbs {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 5;

	&__link {
		font-size: 1.4rem;
		font-weight: 400;
	}
	&__previous {
		color: $white !important;
	}
	&__bullet {
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background: $white;
		margin: 0 0.8rem;
	}
	&__current {
		color: $grey_50 !important;
	}
}


/* Container */ 

.w1340 {
	max-width: 1400px;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;

	@media (min-width:1800px) {
		max-width: 1500px;
	}

	@media (max-width:450px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

/* Buttons */

.default-button_green {
	width: max-content;
	margin-right: 2rem;
	padding: 1.6rem 2.4rem;
	display: block;

	font-weight: 700;
	font-size: 1.8rem;
	line-height: 1.28;

	letter-spacing: 0.08em;
	text-transform: uppercase;

	color: $white !important;
	border: 1px solid $green_100;
	background: $green_100;

	transition: all .3s;

	&:hover {
		background: #039664;
		border-color: #039664;
	}

	&:active {
		background: #0A8058;
		border-color: #0A8058;
	}

	@media (max-width:500px) {
		font-size: 2rem;
	}

	@media (max-width:500px) {
		width: 100%;
		text-align: center;
		margin-bottom: 1.2rem;
		margin-right: 0;
	}
}
.default-button {
	width: max-content;
	padding: 1.6rem 2.4rem;

	font-weight: 700;
	font-size: 1.8rem;
	line-height: 1.28;

	letter-spacing: 0.08em;
	text-transform: uppercase;

	color: $white !important;
	border: 1px solid $white;

	transition: all .3s;
	
	&:hover {
		color: $green_100 !important;
		border-color: $green_100;
		background: #D2FFF0;
	}

	&:active {
		color: #0A8058 !important;
		background: #98E4CB;
		border-color: #0A8058;
	}

	@media (max-width:500px) {
		font-size: 2rem;
		width: 100%;
		text-align: center;
		margin-right: 0;
	}
}

.learn-more-button {
	max-width: 57rem;
	width: max-content;
	padding-bottom: 1.2rem;

	display: flex;
	align-items: center;

	span {
		margin-left: 2.4rem;

		transition: all .3s;
	}

	font-weight: 700;
	font-size: 1.8rem;
	line-height: 1.28;
	
	letter-spacing: 0.08em;
	text-transform: uppercase;
	
	color: $black_100;
	border-bottom: 1px solid $black_100;

	transition: all .3s;

	&:hover span{
		margin-left: 3rem;
	}
}

/* TECH OVERVIEW FORM */ 

.popup-form-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	visibility: hidden;
	display: none;
	align-items: center;
	justify-content: center;

	backdrop-filter: blur(10px) brightness(0.5);
	z-index: 50;
	transition: all .2s;

	&.active {
		display: flex;
		visibility: visible;
	}

	@media (max-width:550px) {
		backdrop-filter: none;
		background: #0A8058;;
	}
}

.popup-form {
	width: 30%;
	padding: 3rem;
	border-radius: 32px;
	background: #0A8058;

	&__title {
		margin-bottom: 2rem;

		color: $white;
		font-weight: 700;
		font-size: 4.2rem;
		line-height: 1.28;
	}

	@media (max-width:1200px) {
		width: 50%;
	}

	@media (max-width:768px) {
		width: 70%;
	}

	@media (max-width:550px) {
		width: 100%;
	}
}

.popup-close {
	position: absolute;
	top: 5rem;
	right: 5rem;
	width: 6rem;
	height: 6rem;

	background-image: url(/assets/images/icons8-close.svg);
	background-position: center;
	background-size: cover;
	cursor: pointer;
	transition: all .3s;

	&:hover {
		transform: scale(0.9);
	}

	@media (max-width:550px) {
		top: 2rem;
		right: 2rem
	}

	@media (max-width:450px) {
		height: 5rem;
		right: 3rem;
		top: 3rem;
		width: 5rem;
	}
}

/* LOAD MORE BUTTON */

.load-more-button {
	width: max-content;
	margin: 4rem auto 0;
	cursor: pointer;
	border-radius: 32px;

	transition: all 0s;
	
	&.loading {
		background-color: #3D3E52;
		border-color: transparent;
		background-image: url(/assets/images/icon-loading.gif);
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto 55%;

		color: transparent !important;
		cursor: default;
	}
}