.contact-us {
	padding: 10rem 0;
	position: relative;
	background: #EFEFEF;
	overflow: hidden;

	@media (max-width:768px) {
		padding: 6rem 0;
	}

	@media (max-width:450px) {
		padding: 4rem 0;
	}

	&__shadow1 {
		left: -24%;
		position: absolute;
		top: -111%;
		width: 77%;

		@media (max-width:1024px) {
			width: 120%;
			top: -149%;
			left: -50%;
		}

		@media (max-width:900px) {
			left: -43%;
			top: -98%;
			width: 120%;
		}

		@media (max-width:600px) {
			left: -35%;
			top: -49%;
			width: 120%;
			rotate: -106deg;
		}
	}
	&__shadow2 {
		bottom: -56%;
		position: absolute;
		right: -18%;
		width: 53%;

		@media (max-width:900px) {
			bottom: -40%;
			position: absolute;
			right: -26%;
			width: 78%;
		}

		@media (max-width:600px) {
			bottom: -28%;
			position: absolute;
			right: -36%;
			width: 116%;
		}
	}

	.w1340 {
		position: relative;
		z-index: 5;

		display: flex;
		justify-content: space-around;
		align-items: center;

		@media (max-width:768px) {
			flex-direction: column;
			justify-content: unset;
			align-items: unset;
		}
	}
	&__left {
		width: 40%;

		@media (max-width:768px) {
			width: 100%;
			margin-bottom: 5rem;
		}
	}
	&__title {
		margin-bottom: 2.4rem;
	
		color: $black_100;
		font-size: 6rem;
		font-weight: 600;
		line-height: 1;
		text-transform: uppercase;

		@media (max-width:768px) {
			font-size: 4.2rem;
		}
	}
	&__subtitle {
		margin-bottom: 3.2rem;

		color: $black_90;
		font-size: 2rem;
		font-weight: 400;
		line-height: 1.4;
	}
	&__cards {
		display: flex;
		flex-direction: column;

		@media (max-width:768px) {
			flex-direction: row;
			justify-content: space-around;
			column-gap: 1rem;
		}

		@media (max-width:500px) {
			// flex-direction: column;
			justify-content: unset;
			// column-gap: unset;
			flex-wrap: wrap;
			column-gap: 2rem;
		}
	}
	&__card {
		display: flex;

		@media (max-width:500px) {
			width: 47.5%;
		}

		&:not(:last-child) {
			margin-bottom: 3.2rem;
		}
	}
	&__card-img {
		width: 2.4rem;
		height: 2.4rem;
		margin-right: 1.6rem;
	}
	&__card-text {
		display: flex;
		flex-direction: column;
	}
	&__card-title {
		margin-bottom: .8rem;

		color: $black_100;
		font-size: 3.2rem;
		font-weight: 600;
		line-height: 0.8;

		@media (max-width:768px) {
			font-size: 2.8rem;
		}
	}
	&__card-description {
		color: $black_90;
		font-size: 1.8rem;
		font-weight: 400;
	}
	&__right {
		width: 40%;

		@media (max-width:768px) {
			width: 100%;
		}
	}
}
