/* HEADER */ 

.header {
	padding: 2.4rem 0;
	padding-left: 3rem;
	padding-right: 3rem;
	max-width: 1400px;
	width: 100%;
	margin: 0 auto -11.689rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 15;


	@media (min-width:1800px) {
		max-width: 1500px;
	}

	@media (max-width:450px) {
		padding-left: 15px;
		padding-right: 15px;
	}

	&__logo {
	}
	&__nav {
		display: flex;
		align-items: center;

		@include respond(600px) {
			display: none;
		}
	
	}
	&__link {
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 1.28;

		text-transform: uppercase;

		/* white/100 */

		color: $white !important;

		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
}

/* HERO */ 

.hero {
	position: relative;
	border-radius: 0 0 4.2rem 4.2rem;
	padding-bottom: 8.6rem;
	overflow: hidden;

	&__shadow {
		background: linear-gradient(180deg, rgba(51, 52, 71, 0.46) 0%, #333447 100%);
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 15;
	}

	&__background {
		width: 100%;
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 10;
	}

	.hero-content {
		position: relative;
		z-index: 10;
		max-width: 1400px;
		padding-left: 30px;
		padding-right: 30px;
		margin: 0 auto;

		@media (min-width:1800px) {
			max-width: 1500px;
		}

		@media (max-width:450px) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	&__title {
		margin: 30rem 0 2rem;
		font-weight: 600;
		font-size: 7.2rem;
		line-height: 1.11;

		text-transform: uppercase;

		color: $white;

		max-width: 90rem;

		@include respond(600px) {
			font-size: 5.2rem;
		}

		@media (max-width:500px) {
			margin: 15rem 0 2rem;
		}
	}
	&__subtitle {
		font-weight: 400;
		font-size: 2rem;
		line-height: 1.4;

		color: $grey_50;
		max-width: 90rem;

		@include respond(600px) {
			font-size: 1.6rem;
		}
	}
}

.hero__buttons {
	display: flex;
	width: max-content;
	align-items: center;
	justify-content: space-between;
	margin-top: 4.2rem;
	display: flex;
	align-items: center;

	@media (max-width:450px) {
		flex-direction: column;
	}
}


/* Dropdown Menu */

.header-dropdown-target {
	position: relative;
	cursor: pointer;

	display: flex;
	align-items: center;

	transition: all .3s;

	& > .dropdown-target-arrow {
		margin-left: 0.6rem;
		display: flex;
		align-items: center;
		transition: all .4s;
	}

	&:hover {
		color: $white !important;
	}

	&.active .dropdown-target-arrow {
		transform: rotate(180deg);
	}

}

.h-dropdown {
	position: absolute;
	top: 225%;

	cursor:default;

	background: $white;
	border-radius: 12px;
	padding: 1.6rem;

	display: flex;
	flex-direction: column;

	// max-height: 0;
	// overflow: hidden;
	visibility: hidden;
	opacity: 0;
	transition: all .3s;

	&.active {
		// max-height: 350px;
		visibility: visible;
		opacity: 1;
		// overflow: visible;

		&::before {
			opacity: 1;
		}
	}

	&::before {
		content: '';
		position: absolute;
		width: 22px;
		height: 22px;
		background: $white;
		transform: rotate(45deg);
		top: -11px;
		left: calc(50% - 11px);
		transition: all .3s;
		opacity: 0;
	}

	&__banner {
		cursor: pointer;

		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.2rem;

		background: $grey_20;
		border-radius: 6px;

		&:hover {
			background: $green_10;
		}
	}
	&__banner-title {
		margin: 0 1.2rem;
		width: max-content;

		font-weight: 700;
		font-size: 1.4rem;
		line-height: 1.28;
		
		letter-spacing: 0.08em;
		text-transform: uppercase;
		
		color: $black_100;
	}
	&__links {
		// max-height: 0;
		margin-top: 1.6rem;
		opacity: 0;
		overflow: hidden;

		display: flex;
		flex-direction: column;
		transition: all .3s;
	}

	&.active &__links {
		opacity: 1;
		// max-height: 300px;
	}
	&__link {
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 1.28;
		text-transform: capitalize;
		
		color: $black_100 !important;

		transition: all .3s;

		&:not(:last-child) {
			margin-bottom: 1.2rem;
		}

		&:hover {
			color: $grey_100 !important;
		}
	}
}


.tech-dropdown {
	left: -90%;
}

.resources-dropdown {
	left: -135%;
    width: max-content;
}

.about-us-dropdown {
	width: 400%;
	right: 0;

	.h-dropdown__link.contact {
		font-size: 2rem;
		background: $grey_50;
		padding: 0.8rem;
		margin-bottom: 0;

		&:hover {
			color: $black_100 !important;
		}
	}

	.h-dropdown__links {
		margin-top: 0;
	}

	&::before {
		left: calc(87% - 11px);
	}

	.default-button_green {
		width: 100%;
		text-align: center;
		display: block;
		margin-top: 1.6rem;
		margin-right: 0;
	}
}

.contact-us__cards.dropdown {
	background: $grey_20;
	padding: 1.4rem;

	.contact-us__card {
	
		&:not(:last-child) {
			margin-bottom: 1.8rem;
		}
	}
	.contact-us__card-img {
		margin-right: 1rem;
	}
	.contact-us__card-text {
		
	}
	.contact-us__card-title {
		font-size: 1.8rem;
	}
	.contact-us__card-description {
		font-size: 1.4rem;
	}
}
