.home {
	position: relative;
	overflow: hidden;
	padding-bottom: 13rem;
	margin-bottom: -40px;

	@media (max-width:600px) {
		padding-bottom: 4rem;
	}

	background: $white;
	border-radius: 0 0 42px 42px;

	/* POPULAR */

	.popular {
		padding: 10rem 0;
		position: relative;
		z-index: 10;

		@media (max-width:768px) {
			padding: 10rem 0 0;
		}

		@media (max-width:500px) {
			padding: 5rem 0 0;
		}

		&__title {
			max-width: 57.5rem;

			font-weight: 600;
			font-size: 6rem;
			line-height: 1;
			/* or 100% */

			text-transform: uppercase;

			color: $black_100;

			margin-bottom: 3.5rem;

			@media (max-width:500px) {
				font-size: 4.8rem;
			}
		}
		&__cards {
			display: flex;
			flex-wrap: wrap;
			gap: 2.4rem;

			@media (max-width:500px) {
				gap: 1.4rem;
			}

			@media (max-width:380px) {
				gap: 1rem;
			}
		}
		&__card {
			width: 18%;
			border-radius: 1.2rem;
			overflow: hidden;
			border: 1px solid #D9D9D9;
			background: $white;

			@media (min-width:1800px) {
				width: 18.4%;
			}

			@media (max-width:1100px) {
				width: 22.5%;
			}

			@media (max-width:900px) {
				width: 31.5%;
			}

			@media (max-width:768px) {
				width: 47.5%;
			}

			@media (max-width:500px) {
				width: 48.4%;
			}
			
		}
		&__card-img {
			width: 100%;
			object-fit: cover;
		}
		&__card-title {
			margin: 2rem 0 2rem 1.2rem;

			font-weight: 600;
			font-size: 1.8rem;
			line-height: 1.33;
			
			text-transform: capitalize;
		
			color: $black_100;
		}
	}


	/* BECOME */

	.home-shadow-1 {
		position: absolute;
		right: -22rem;
		top: -42.4rem;
		width: 60rem;

		svg {
			width: 100%;
		}


		@media (max-width:900px) {
			width: 45rem;
			top: -50rem;
		}

		@media (max-width:600px) {
			right: unset;
			left: -22rem;
		}
	}
	.home-shadow-2 {
		position: absolute;
		bottom: -65%;
		left: -20rem;

		width: 50rem;

		svg {
			width: 100%;
		}

		@media (max-width:900px) {
			bottom: -70%;
		}

		@media (max-width:600px) {
			left: unset;
			right: -22rem;
		}
	}
	.home-factory {
		position: absolute;
		right: -35%;
		top: -7.5rem;
		width: 94%;

		img {
			width: 100%;
		}

		@media (min-width:1800px) {
			right: -35%;
			top: 0;
		}

		@media (max-width:1350px) {
			right: -36%;
			top: 0;
		}
		@media (max-width:1200px) {
			top: unset;
			bottom: -20rem;
		}

		@media (max-width:1100px) {
			right: -42%;
			bottom: -12rem;
		}
		
		@media (max-width:600px) {
			right: -14rem;
			width: 80rem;
			bottom: -35rem;
		}

		@media (max-width:500px) {
			width: 68rem;
			right: -13rem;
			bottom: -30rem;
		}

		@media (max-width:400px) {
			right: -21rem;
			width: 70rem;
			bottom: -32rem;
		}
	}

	.become-content {
		padding: 12.5rem 0 20rem;
		position: relative;
		z-index: 10;

		@media (max-width:900px) {
			// padding-top: 3rem;
			// margin-bottom: 10.2rem;
		}

		@media (max-width:500px) {
			
		}

		@media (max-width:768px) {
			margin-bottom: 5rem;
		}

		@media (max-width:600px) {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 23rem;
		}
	}

	.become {
		position: relative;

		&__title {
			max-width: 57rem;
			margin-bottom: 2.4rem;

			font-weight: 600;
			font-size: 6rem;
			line-height: 1;
			
			text-transform: uppercase;
		
			color: $black_100;

			@media (max-width:500px) {
				font-size: 4.8rem;
			}
		}
		&__subtitle {
			max-width: 57rem;
			margin-bottom: 3.5rem;

			font-weight: 400;
			font-size: 2rem;
			line-height: 1.4;
			
			color: $black_100;
		}
	}
	

	/* BIG VIDEO */ 

	.home-big-video iframe{
		width: 100%;
		height: 65rem;
		border-radius: 4.2rem;

		position: relative;
		z-index: 10;

		@media (max-width:900px) {
			height: 55rem;
		}
		@media (max-width:800px) {
			height: 45rem;
		}
		@media (max-width:700px) {
			height: 40rem;
		}
		@media (max-width:600px) {
			height: 30rem;
		}
	}

	.home-big-video {
		position: relative;
		margin-bottom: 10rem;

		@media (max-width:768px) {
			margin-bottom: 3rem;
		}

		.w1340 {
			position: relative;
		}
	}

	.video-shadow {
		position: absolute;
		bottom: -300px;
		left: 0;
		max-width: 100%;

		svg {
			max-width: 100%;
		}
	}

	/* CTA */ 

	.cta {
		background: #0D6547;
		position: relative;
		border-radius: 0px 0px 42px 42px;
		overflow: hidden;

		padding: 15.2rem 0;

		@media (max-width:768px) {
			padding-bottom: 40rem;
		}

		@media (max-width:500px) {
			padding-top: 8rem;
		}

		.cta-content {
			max-width: 1340px;
			margin: 0 auto;
			padding-right: 50px;

			display: flex;
			justify-content:  flex-end;
			position: relative;
			z-index: 10;

			@media (min-width:1800px) {
				max-width: 1440px;
			}

			@media (max-width:768px) {
				justify-content: center;
				padding-right: 0;
			}
		}

		&__ellipse1 {
			position: absolute;
			top: -40%;
			right: 50%;

			max-width: 37.7%;

			svg {
				width: 100%;
			}

			@media (max-width:768px) {
				right: -22.5rem;
				top: -40%;
				max-width: 55rem;
				transform: rotate(-60deg);
			}
		}
		&__ellipse2 {
			position: absolute;
			bottom: -35%;
			right: -5%;

			max-width: 29%;

			svg {
				width: 100%;
			}

			@media (max-width:768px) {
				right: unset;
				left: -15rem;
				max-width: 40rem
			}
		}
		&__factory {
			position: absolute;
			top: -4rem;
			left: -24%;
			
			width: 69%;

			svg {
				width: 100%;
			}

			@media (max-width:1300px) {
				top: 0;
				left: -20%;
			}

			@media (max-width:900px) {
				top: 4rem;
				left: -28%;
			}

			@media (max-width:768px) {
				top: unset;
				bottom: -12rem;
				left: 20%;
				width: 65rem;
			}

			@media (max-width:600px) {
				left: 7%;
			}

			@media (max-width:600px) {
				left: 5%;
				width: 55rem;
				bottom: -5rem;
			}

		}

		&__text {
			max-width: 65.5rem;

			@media (min-width:1800px) {
				max-width: 55rem;
			}

			@media (max-width:1300px) {
				max-width: 50rem;
			}

			@media (max-width:768px) {
				max-width: 80%;
			}

			@media (max-width:500px) {
				max-width: 90%;
			}
		}
		&__title {
			margin-bottom: 2.4rem;

			font-weight: 600;
			font-size: 6rem;
			line-height: 1;
			
			text-transform: uppercase;
			
			color: #FFFFFF;

			@media (max-width:500px) {
				font-size: 4.8rem;
			}
		}
		&__subtitle {
			margin-bottom: 3.2rem;

			font-weight: 400;
			font-size: 2rem;
			line-height: 1.4;
			
			color: $green_10;
		}
	}
	
	/* TESTIMONIALS */

	.testimonials {
		padding: 10rem 0 7rem;
		max-width: 83rem;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (max-width:600px) {
			padding: 5rem 0 7rem;
		}

		&__title {
			margin-bottom: 5rem;

			font-weight: 600;
			font-size: 6rem;
			line-height: 1;
			
			text-transform: uppercase;
			
			color: $black_100;

			@media (max-width:600px) {
				font-size: 4.4rem;
			}

			@media (max-width:450px) {
				font-size: 3.2rem;
			}
		}
		&__body {
		}
		&__card {
		}
		.t-card {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.t-card__photo {
			border-radius: 50%;
			width: 7rem;
			height: 7rem;

			margin-bottom: 1.6rem;
		}
		.t-card__title {
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 1.28;
			
			text-align: center;
			
			color: $black_100;
			
			margin-bottom: 0.4rem;
		}
		.t-card__company {
			font-weight: 400;
			font-size: 1.4rem;
			line-height: 1.28;
			
			color: $grey_100;	
			
			margin-bottom: 2rem;
		}
		.t-card__text {
			font-weight: 600;
			font-size: 3.2rem;
			line-height: 1.25;
			text-align: center;
			
			color: $black_100;

			margin-bottom: 1.6rem;

			@media (max-width:450px) {
				font-size: 1.8rem;
			}
		}
	}
}
