body.hq-landing {
    overflow: hidden;

    .italic {
        font-style: italic;
    }
}
.hq-landing-main-wrapper {
    padding: 4rem 0;
    color: #202024;
}

.hq-landing-content-wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

.landing-header {
    .hq-landing-content-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 5;
    }

    .logo {
        width: 22rem;
    }
    .button {
        font-size: 2.6rem;
        text-transform: uppercase;
        color: #fff;
        padding: 2.4rem 2.8rem;
        border-radius: 1rem;
        background: $green_100;
    }
}

.landing-hero {
    margin-top: 8.5rem;
    position: relative;

    svg[class] {
        position: absolute;
        z-index: 0;
        filter: blur(100px);
    }

    &__shadow-1 {
        width: 728.699px;
        height: 849.543px;
        transform: rotate(165deg);

        right: -48rem;
        top: -38rem;
    }

    &__shadow-2 {
        rotate: 165deg;
        left: -10rem;
        bottom: 45rem;
    }

    &__shadow-3 {
        bottom: 0;
        right: 0;
    }

    .hq-landing-content-wrapper {
        position: relative;
        z-index: 5;
    }

    &__title {
        font-size: 11rem;
        font-weight: 800;
        line-height: 0.95;
    }
    &__title-group {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        font-style: italic;

        svg {
            transform: rotate(45deg);
        }

        span {
            margin-left: auto;
            width: min-content;
            text-align: end;
        }
    }
    &__cards {
        max-width: 61rem;
        margin: 0 auto;
        padding: 15rem 0 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5.5rem;
    }
    &__card {
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.26;

        padding: 3.6rem;
        background-color: #fff;
        border-radius: 2rem;
        position: relative;
        filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.08)) drop-shadow(-3px -3px 20px rgba(0, 0, 0, 0.08));
    }

    &__card:not(:first-child)::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='58' height='56' viewBox='0 0 58 56' fill='none'%3E%3Cpath d='M29.9103 0.38726L29.7282 44.9855M52.3272 22.3272L26.1644 48.4903M33.8304 50.7382L5.48149 22.5185' stroke='%230A8058' stroke-width='14'/%3E%3C/svg%3E");
        position: absolute;
        top: -4.2rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .green {
        color: #0a8058;
        font-style: italic;
    }
}

.hq-landing-cta-1 {
    background-color: #0b3527;
    border-radius: 0 0 4.2rem 4.2rem;
    padding: 10rem 0 12rem;
    color: #fff;
    position: relative;
    overflow: hidden;

    &__ellipse-1 {
        position: absolute;
        top: -25rem;
        left: 10%;
        z-index: 0;
    }

    &__ellipse-2 {
        position: absolute;
        width: 431.632px;
        height: 431.632px;
        transform: rotate(-35.298deg);
        bottom: 20rem;
        right: -10rem;
        z-index: 0;
    }

    .hq-landing-content-wrapper {
        position: relative;
        z-index: 1;
    }

    &__title {
        font-size: 9rem;
        font-weight: 800;
        line-height: 0.9;
        text-transform: uppercase;

        span.margin-left {
            margin-left: 5rem;
        }

        span:last-child {
            display: inline-block;
            width: 100%;
            text-align: end;
        }
    }
    &__subtitles {
        margin-top: 8.5rem;
        display: flex;
        column-gap: 0.5rem;

        p {
            padding-left: 7.5rem;
            position: relative;

            font-size: 4.4rem;
            font-weight: 600;
            line-height: 1.11;
            z-index: 1;
        }

        p::after {
            content: url("data:image/svg+xml,%3Csvg width='130' height='118' viewBox='0 0 130 118' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40.468 117.7L9.096 94.853L36.717 65.868L0.571 50.864L16.939 17.446L46.265 33.132L44.56 0.395982H85.48L83.775 33.132L113.101 17.446L129.128 50.864L92.982 65.868L120.603 94.853L89.231 117.7L65.02 84.623L40.468 117.7Z' fill='%230A8058' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
            position: absolute;
            top: -2.6rem;
            left: 0;
            z-index: -1;
        }
    }

    .button {
        padding: 6rem 10rem;
        margin: 9rem auto 0;
        border-radius: 1rem;
        background-color: #14bd84;
        width: max-content;
        font-size: 7rem;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.hq-landing-partners {
    padding: 15rem 5rem;

    &__cards {
        align-items: center;
    }
    &__card {
        
        img {
            width: 100%;
        }
    }
}
