.tech-white-cards-2 {
	padding: 10rem 0;

	@media (max-width:768px) {
		padding: 6rem 0;
	}

	@media (max-width:650px) {
		padding: 6rem 0 3rem;
	}

	@media (max-width:450px) {
		padding: 4rem 0 3rem;
	}

	.w1340 {

		&.swiper {
			padding: 0 3rem;

			.swiper-pagination {
				top: 97% !important;
			}

			@media (max-width:450px) {
				padding: 0 1.5rem;
			}
		}

		.swiper-wrapper {
			padding-bottom: 5rem;
		}
	}
	&__title {
		margin-bottom: 2.4rem;

		color: $black_100;
		text-align: center;
		font-size: 6rem;
		font-weight: 600;
		line-height: 1;
		text-transform: uppercase;

		@media (max-width:768px) {
			font-size: 4.2rem;
		}
	}
	&__subtitle {
		margin-bottom: 3.2rem;

		color: $black_100;
		text-align: center;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 1.18;

		@media (max-width:1200px) {
			font-size: 1.8rem;
		}
	}
	&__cards {
		display: flex;
		justify-content: space-between;
	}
	&__card {
		width: 32%;
		overflow: hidden;
		border-radius: 12px;
		border: 1px solid $grey_50;
	}
	&__card-img {
		width: 100%;

		img {
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}
	&__card-text {
		padding: 2rem 3rem 3rem;

		@media (max-width:768px) {
			padding: 1.2rem 2.2rem 2.2rem;
		}
	}
	&__card-title {
		margin-bottom: 1.6rem;

		color: $black_100;
		font-size: 3.2rem;
		font-weight: 600;

		@media (max-width:768px) {
			font-size: 2.4rem;
			margin-bottom: 1.2rem;
		}
	}
	&__card-description {
		color: $black_90;
		font-size: 1.8rem;
		font-weight: 400;
	}
}
