.tech-white-cards-3 {
	padding: 10rem 0;

	@media (max-width:768px) {
		padding: 6rem 0 2rem;
	}

	@media (max-width:450px) {
		padding: 4rem 0 2rem;
	}

	.w1340 {

		&.swiper {
			padding-left: 3rem;
			padding-right: 3rem;
		}

		.swiper-pagination {
			top: 97%!important;
		}
	}
	&__title {
		margin-bottom: 2.4rem;

		color:$black_100;
		text-align: center;
		font-size: 3.2rem;
		font-weight: 600;
	}
	&__subtitle {
		margin-bottom: 5rem;

		color: $black_90;
		text-align: center;
		font-size: 2rem;
		font-weight: 400;
		line-height: 1.4;

		@media (max-width:768px) {
			margin-bottom: 3rem;
		}
	}
	&__cards {
		display: flex;
		column-gap: 2rem;
		padding-top: 8rem;
		justify-content: center;

		&.swiper-wrapper {
			justify-content: unset;
			column-gap: 0;
		}

		@media (max-width:768px) {
			padding-top: 6rem;
			padding-bottom: 5rem;
			column-gap: 1.6rem;
		}

		@media (max-width:500px) {
			padding-top: 3rem;
		}
	}
	&__card {
		width: 24%;
		padding: 6rem 2.5rem;
		display: flex;
		flex-direction: column;
		position: relative;
		border-radius: 12px;
		border: 1px solid $grey_20;

		@media (max-width:1024px) {
			width: 32%;
		}

		@media (max-width:600px) {
			padding: 3rem 1.8rem;
		}

		@media (max-width:450px) {
			padding: 4rem 3rem 3rem;
		}
	}
	&__card-iterator {
		position: absolute;
		top: -3rem;
		left: 2.5rem;
		width: 6rem;
		height: 6rem;
		display: flex;
		align-items: center;
		justify-content: center;

		background: $green_100;

		color: $white;
		font-size: 3.2rem;
		font-weight: 600;

		border-radius: 50%;

		@media (max-width:600px) {
			width: 5rem;
			height: 5rem;
			top: -2.5rem;
		}
	}
	&__card-title {
		margin-bottom: 2.4rem;

		color: $black_100;
		font-size: 3.2rem;
		font-weight: 600;
		width: min-content;

		@media (max-width:768px) {
			width: 100%;
		}

		@media (max-width:600px) {
			font-size: 2.8rem;
			margin-bottom: 1.6rem;
		}
	}
	&__card-subtitle {
		margin-bottom: 2rem;
		margin-top: auto;

		color: $black_90;
		font-size: 1.4rem;
		font-weight: 400;
	}
	&__card-list {
		display: flex;
		flex-direction: column;
	}
	&__card-list-round {
		display: block;
		min-width: 1.6rem;
		min-height: 1.6rem;
		background: $green_100;
		border-radius: 50%;
		margin-right: 1.6rem;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			width: 0.6rem;
			height: 0.6rem;
			background: $green_10;
			border-radius: 50%;
			top: calc(50% - 0.3rem);
			left: calc(50% - 0.3rem);
		}
	}
	&__card-list-item {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-bottom: 1.2rem;
		}

		color: $black_90;
		font-size: 1.4rem;
		font-weight: 600;
	}
}
