.tech-track {
	padding: 10rem 0;
	position: relative;

	&__shadow1 {
		position: absolute;
		top: -15rem;
		left: -35rem;
		rotate: 180deg;
	}

	&__shadow2 {
		position: absolute;
		right: -40rem;
		bottom: -7.5rem
	}

	@media (max-width:768px) {
		padding: 6rem 0;
	}

	@media (max-width:450px) {
		padding: 2rem 0 4rem;
	}

	.w1340 {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		z-index: 5;

		&.swiper {
			padding: 0 2rem 4rem;

			.swiper-pagination {
				top: 97.5% !important;
			}
		}
	}
	&__title {
		max-width: 72.2rem;
		margin-bottom: 2rem;

		color: $black_100;
		text-align: center;
		font-size: 6rem;
		font-weight: 600;
		line-height: 1;
		text-transform: uppercase;

		@media (max-width:768px) {
			font-size: 4.2rem;
		}
	}
	&__subtitle {
		max-width: 72.2rem;
		margin-bottom: 6.4rem;

		color: $black_90;
		text-align: center;
		font-size: 2rem;
		font-weight: 400;
		line-height: 1.4;

		@media (max-width:768px) {
			font-size: 1.8rem;
		}

		@media (max-width:500px) {
			margin-bottom: 2.4rem;
		}
	}
	&__img {
		width: 53.88%;
		box-shadow: 0px 16px 31px 0px rgba(113, 106, 106, 0.15);
		margin-bottom: 9.5rem;

		@media (max-width:768px) {
			width: 65.88%;
			margin-bottom: 6.5rem;
		}

		@media (max-width:500px) {
			width: 100%;
			margin-bottom: 4.5rem;
		}

		img,video  {
			width: 100%;
			object-fit: cover;
		}
	}
	&__cards {
		display: flex;
		justify-content: space-between;
		column-gap: 2rem;

		&.swiper-wrapper {
			column-gap: 0;
		}
	}
	&__card {
		display: flex !important;
		flex-direction: column;
		align-items: center;
	}
	&__card-icon {
		margin-bottom: 2rem;
	}
	&__card-title {
		margin-bottom: 0.8rem;

		color: $black_100;
		text-align: center;
		font-size: 3.2rem;
		font-weight: 600;

		@media (max-width:768px) {
			font-size: 2.8rem;
		}
	}
	&__card-description {
		margin-bottom: 2rem;

		color: $black_90;
		text-align: center;
		font-size: 1.8rem;
		font-weight: 400;

		@media (max-width:768px) {
			font-size: 1.6rem;
		}
	}
	.learn-more-button {
		margin-top: auto;
	}
}


.tech-track_home {
	overflow: hidden;
	.tech-track__img {
		box-shadow: none;
		border-radius: 2.4rem;
		overflow: hidden;
	}
}