.tech-video-white video{
	width: 100%;
	border-radius: 4.2rem;

	position: relative;
	z-index: 10;

	@media (max-width:900px) {
		height: 55rem;
	}
	@media (max-width:800px) {
		height: 45rem;
	}
	@media (max-width:700px) {
		height: 40rem;
	}
	@media (max-width:600px) {
		height: 30rem;
	}
}