.tech-track {
	padding: 10rem 0;

	.w1340 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		max-width: 72.2rem;
		margin-bottom: 2rem;

		color: $black_100;
		text-align: center;
		font-size: 6rem;
		font-weight: 600;
		line-height: 1;
		text-transform: uppercase;
	}
	&__subtitle {
		max-width: 72.2rem;
		margin-bottom: 6.4rem;

		color: $black_90;
		text-align: center;
		font-size: 2rem;
		font-weight: 400;
		line-height: 1.4;
	}
	&__img {
		width: 53.88%;
		box-shadow: 0px 16px 31px 0px rgba(113, 106, 106, 0.15);
		margin-bottom: 9.5rem;

		img {
			width: 100%;
			object-fit: cover;
		}
	}
	&__cards {
		display: flex;
		justify-content: space-between;
		column-gap: 2rem;
	}
	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__card-icon {
		margin-bottom: 2rem;
	}
	&__card-title {
		margin-bottom: 0.8rem;

		color: $black_100;
		text-align: center;
		font-size: 3.2rem;
		font-weight: 600;
	}
	&__card-description {
		margin-bottom: 2rem;

		color: $black_90;
		text-align: center;
		font-size: 1.8rem;
		font-weight: 400;
	}
}
