.tech-u-accordion {
	padding: 10rem 0;

	@media (max-width:768px) {
		padding: 8rem 0;
	}

	.w1340 {
		display: flex;
		justify-content: space-between;
	}
	&__left {
		width: 42.83%;
	}
	&__item {
		display: flex;
		flex-direction: column;
		margin-bottom: 4.8rem;

		@media (max-width:768px) {
			margin-bottom: 2.4rem;
		}
	}
	&__item-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2.4rem;
		cursor: pointer;

		@media (max-width:768px) {
			margin-bottom: 1.8rem;
		}
	}
	&__title {
		color: $black_100;
		font-size: 3.2rem;
		font-weight: 600;
		line-height: 1.56;
		text-transform: uppercase;

		@media (max-width:768px) {
			font-size: 2.4rem;
		}
	}

	&__item-header.active &__indicator svg:last-child {
		display: none;
	}
	&__item-header.active &__indicator svg:first-child {
		display: block;
	}
	&__indicator {

		@media (max-width:768px) {
			width: 3.4rem;
			height: 3.4rem;
		}

		svg {
			width: 100%;
			height: 100%;

			object-fit: cover;
		}

		svg:last-child {
			display: block;
		}

		svg:first-child {
			display: none;
		}
		
	}
	&__body {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid $grey_50;
		padding-bottom: 0;

		max-height: 0;
		overflow: hidden;
		transition: all .3s;
	}

	&__item-header.active + &__body {
		max-height: 300px;
		padding-bottom: 2.8rem;
	}
	&__list-item {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-bottom: 2.4rem;

			@media (max-width:768px) {
				margin-bottom: 1.6rem;
			}
		}

		svg {
			margin-right: 1.2rem;
		}
	}
	&__list-title {
		color: $black_100;
		font-size: 1.8rem;
		font-weight: 600;
		line-height: 1.33;

		@media (max-width:768px) {
			font-size: 1.6rem;
		}
	}
	&__right {
		width: 53.88%;

		@media (max-width:768px) {
			width: 50%;
		}
	}
	&__img {
		border-radius: 42px;
		overflow: hidden;
		display: none;

		video {
			width: 100%;
			transform: scale(1.75);
		}

		&.active {
			display: block;
		}

		@media (max-width:768px) {
			border-radius: 32px;
		}
	}
	&__img-1 {
	}
	&__img-2 {
	}
	&__img-3 {
	}
}


/* ACCORDION WIDE */ 

.tech-u-accordion-wide {
	padding: 10rem 0;

	@media (max-width:768px) {
		padding: 6rem 0;
	}

	.w1340 {
		width: 100%;
	}

	.w1340.features {
		max-width: 95rem;
		padding: 0;
	}

	&__option {
		width: 11rem;
		display: flex;
		justify-content: center;
		margin-left: auto;
		margin-right: 29.9rem;

		color: $green_100;
		font-size: 1.6rem;
		font-weight: 700;
	}

	&__green-header {
		padding: 1.6rem 2rem;
		margin-bottom: 4.2rem;
		background: $green_100;
		display: flex;
		align-items: center;

		&:not(:first-child) {
			margin-top: 10rem;
		}
	}
	&__green-header-item {
		color: $white;
		font-size: 2.4rem;
		font-weight: 600;
		text-transform: uppercase;

		&:last-child {
			margin-left: auto;
			margin-right: 31.3rem;
		}
	}

	&.features {
		.tech-u-accordion-wide__title {
			font-size: 2.2rem;
		}
		.tech-u-accordion-wide__list-title {
			font-size: 1.8rem;
		}
		.tech-u-accordion-wide__item-header {
			justify-content: unset;
		}
		.tech-u-accordion-wide__indicator {
			width: 3.2rem;
			height: 3.2rem;

			svg {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 5rem;
	}
	&__header-title {
		margin-bottom: 2.4rem;

		color: $black_100;
		text-align: center;
		font-size: 6rem;
		font-weight: 600;
		line-height: 1;
		text-transform: uppercase;

		@media (max-width:768px) {
			font-size: 4.2rem;
		}
	}
	&__header-subtitle {
		color: $black_90;
		text-align: center;
		font-size: 2rem;
		font-weight: 400;
		line-height: 1.4;

		@media (max-width:768px) {
			font-size: 1.8rem;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		margin-bottom: 2.4rem;

		@media (max-width:768px) {
			margin-bottom: 2rem;
		}
	}
	&__item-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2.4rem;
		cursor: pointer;

		@media (max-width:768px) {
			margin-bottom: 2rem;
		}
	}
	&__title {
		color: $black_100;
		font-size: 3.2rem;
		font-weight: 600;

		@media (max-width:768px) {
			font-size: 2.4rem;
		}
	}

	&__item-header.active &__indicator svg:last-child {
		display: none;
	}
	&__item-header.active &__indicator svg:first-child {
		display: block;
	}
	&__indicator {

		@media (max-width:768px) {
			width: 3.4rem;
			height: 3.4rem;
			margin-left: 2rem;
		}

		svg {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		svg:last-child {
			display: block;
		}

		svg:first-child {
			display: none;
		}
		
	}
	&__body {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid $grey_50;
		padding-bottom: 0;

		max-height: 0;
		overflow: hidden;
		transition: all .3s;
	}

	&__item-header.active + &__body {
		max-height: 300px;
		padding-bottom: 2.8rem;
	}
	&__list-item {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-bottom: 2.4rem;
		}

		svg {
			margin-right: 1.2rem;
		}
	}
	&__list-title {
		color: $black_90;
		font-size: 2rem;
		font-weight: 400;
		line-height: 1.4;

		@media (max-width:768px) {
			font-size: 1.8rem;
		}
	}
	&__right {
		width: 53.88%;
	}
	&__img {
		border-radius: 42px;
		overflow: hidden;
		display: none;

		img {
			width: 100%;
			object-fit: cover;
		}

		&.active {
			display: block;
		}
	}
	&__img-1 {
	}
	&__img-2 {
	}
	&__img-3 {
	}
}