.tech-big-photo {
	position: relative;
	background: #414254;
	padding: 10rem 0;
	overflow: hidden;

	@media (max-width:768px) {
		padding: 6rem 0;
	}

	@media (max-width:450px) {
		padding: 4rem 0;
	}

	&__ellipse {
		position: absolute;
		bottom: 0;
		right: -2%;
		z-index: 0;

		@media (max-width:768px) {
			bottom: -26%;
			right: -29%;
			z-index: 0;
			width: 55rem;
		}
	}
	.w1340 {
	}
	&__img {
		margin-bottom: 4.2rem;
		border-radius: 42px;
		overflow: hidden;
		position: relative;
		z-index: 5;

		img {
			width: 100%;
			object-fit: cover;
		}

		@media (max-width:768px) {
			border-radius: 32px;
		}

		@media (max-width:450px) {
			border-radius: 16px;
			margin-bottom: 2.2rem;
		}
	}
	&__text {
		position: relative;
		z-index: 5;

		color: $white;
		text-align: center;
		font-size: 3.2rem;
		font-weight: 600;

		a {
			color: $white !important;
		}
	}
}
