.videos {
    padding: 5rem 0 15rem;

    &__cards {
        row-gap: 12rem;
        column-gap: 2%;
        display: flex;
        flex-wrap: wrap;

        @media (max-width:1024px) {
            row-gap: 10rem;
        }

        @media (max-width:600px) {
            row-gap: 8rem;
        }
    }

    .video-card {
        position: relative;
        overflow: visible;
        width: 32%;

        @media (max-width:1024px) {
            width: 48%;
        }

        @media (max-width:600px) {
            width: 100%;
        }

        &::before {
            content: "";
            display: block;
            padding-top: 56.25%; /* 1 / 1.78 = 0.5625 */
        }

        &::after {
            content: attr(data-title);
            position: absolute;
            top: calc(100% + 1rem);
            max-width: 100%;
        }
    }

    .video-card-title {
        position: absolute;
        bottom: -3rem;
        left: 0;

        font-size: 2.8rem;
		font-weight: 600;
        color: $black_100;
    }
}