html {
  font-size: 62.5% !important;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25% !important;
  }
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50% !important;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75% !important;
  }
}

/* Colors */
/* Fonts */
* {
  font-family: "Source Sans 3";
}

.green-arrow {
  width: 2.4rem;
  height: 2.4rem;
}

/* Swiper.js */
.swiper-button-prev {
  top: 96% !important;
  left: 40% !important;
}
.swiper-button-prev::after {
  display: none;
}
@media (max-width: 768px) {
  .swiper-button-prev {
    display: none !important;
  }
}

.swiper-button-next {
  top: 96% !important;
  right: 40% !important;
}
.swiper-button-next::after {
  display: none;
}
@media (max-width: 768px) {
  .swiper-button-next {
    display: none !important;
  }
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 50px !important;
}

.swiper-pagination-bullet-active {
  background: #039664 !important;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 5;
}
.breadcrumbs__link {
  font-size: 1.2rem;
  font-weight: 400;
}
.breadcrumbs__previous {
  color: #FFFFFF !important;
}
.breadcrumbs__bullet {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FFFFFF;
  margin: 0 0.8rem;
}
.breadcrumbs__current {
  color: #C7C8DA !important;
}

/* Container */
.w1340 {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 1800px) {
  .w1340 {
    max-width: 1500px;
  }
}
@media (max-width: 450px) {
  .w1340 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Buttons */
.default-button_green {
  width: -moz-max-content;
  width: max-content;
  margin-right: 2rem;
  padding: 1.6rem 2.4rem;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.28;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF !important;
  border: 1px solid #14BD84;
  background: #14BD84;
  transition: all 0.3s;
}
.default-button_green:hover {
  background: #039664;
  border-color: #039664;
}
.default-button_green:active {
  background: #0A8058;
  border-color: #0A8058;
}
@media (max-width: 450px) {
  .default-button_green {
    width: 100%;
    text-align: center;
    margin-bottom: 2.4rem;
    margin-right: 0;
  }
}

.default-button {
  width: -moz-max-content;
  width: max-content;
  margin-right: 2rem;
  padding: 1.6rem 2.4rem;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.28;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF !important;
  border: 1px solid #FFFFFF;
  transition: all 0.3s;
}
.default-button:hover {
  color: #14BD84 !important;
  border-color: #14BD84;
  background: #D2FFF0;
}
.default-button:active {
  color: #0A8058 !important;
  background: #98E4CB;
  border-color: #0A8058;
}
@media (max-width: 450px) {
  .default-button {
    width: 100%;
    text-align: center;
    margin-right: 0;
  }
}

.learn-more-button {
  max-width: 57rem;
  width: -moz-max-content;
  width: max-content;
  padding-bottom: 1.2rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.28;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #333447;
  border-bottom: 1px solid #333447;
  transition: all 0.3s;
}
.learn-more-button span {
  margin-left: 2.4rem;
  transition: all 0.3s;
}
.learn-more-button:hover span {
  margin-left: 3rem;
}

/* HEADER */
.header {
  max-width: 1400px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 5;
  padding: 2.4rem 0;
}
@media (min-width: 1800px) {
  .header {
    max-width: 1500px;
  }
}
@media (max-width: 450px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.header__nav {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .header__nav {
    display: none;
  }
}
.header__link {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.28;
  text-transform: uppercase;
  /* white/100 */
  color: #FFFFFF !important;
}
.header__link:not(:last-child) {
  margin-right: 2rem;
}

/* HERO */
.hero {
  position: relative;
  border-radius: 0 0 4.2rem 4.2rem;
  padding-bottom: 8.6rem;
  overflow: hidden;
}
.hero__shadow {
  background: linear-gradient(180deg, rgba(51, 52, 71, 0.46) 0%, #333447 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 15;
}
.hero__background {
  width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 10;
}
.hero .hero-content {
  position: relative;
  z-index: 20;
  max-width: 1400px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
@media (min-width: 1800px) {
  .hero .hero-content {
    max-width: 1500px;
  }
}
@media (max-width: 450px) {
  .hero .hero-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.hero__title {
  margin: 20rem 0 2rem;
  font-weight: 600;
  font-size: 7.2rem;
  line-height: 1.11;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 90rem;
}
@media only screen and (max-width: 37.5em) {
  .hero__title {
    font-size: 5.2rem;
  }
}
@media (max-width: 500px) {
  .hero__title {
    margin: 15rem 0 2rem;
  }
}
.hero__subtitle {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.4;
  color: #C7C8DA;
  max-width: 90rem;
}
@media only screen and (max-width: 37.5em) {
  .hero__subtitle {
    font-size: 1.6rem;
  }
}
.hero .hero__buttons {
  margin-top: 4.2rem;
  display: flex;
  align-items: center;
}
@media (max-width: 450px) {
  .hero .hero__buttons {
    flex-direction: column;
  }
}

/* Dropdown Menu */
.header-dropdown-target {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.header-dropdown-target > .dropdown-target-arrow {
  margin-left: 0.6rem;
  display: flex;
  align-items: center;
  transition: all 0.4s;
}
.header-dropdown-target:hover {
  color: #FFFFFF !important;
}
.header-dropdown-target.active .dropdown-target-arrow {
  transform: rotate(180deg);
}

.h-dropdown {
  position: absolute;
  top: 225%;
  left: -100%;
  cursor: default;
  background: #FFFFFF;
  border-radius: 12px;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.h-dropdown.active {
  visibility: visible;
  opacity: 1;
}
.h-dropdown.active::before {
  opacity: 1;
}
.h-dropdown::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background: #FFFFFF;
  transform: rotate(45deg);
  top: -11px;
  left: calc(50% - 11px);
  transition: all 0.3s;
  opacity: 0;
}
.h-dropdown__banner {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  background: #EBEBEB;
  border-radius: 6px;
}
.h-dropdown__banner:hover {
  background: #B4DED0;
}
.h-dropdown__banner-title {
  margin: 0 1.2rem;
  width: -moz-max-content;
  width: max-content;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.28;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #333447;
}
.h-dropdown__links {
  margin-top: 1.6rem;
  opacity: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}
.h-dropdown.active .h-dropdown__links {
  opacity: 1;
}
.h-dropdown__link {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.28;
  text-transform: capitalize;
  color: #333447 !important;
  transition: all 0.3s;
}
.h-dropdown__link:not(:last-child) {
  margin-bottom: 1.2rem;
}
.h-dropdown__link:hover {
  color: #757575 !important;
}

.home {
  position: relative;
  overflow: hidden;
  padding-bottom: 13rem;
  margin-bottom: -40px;
  background: #FFFFFF;
  border-radius: 0 0 42px 42px;
  /* POPULAR */
  /* BECOME */
  /* BIG VIDEO */
  /* CTA */
  /* TESTIMONIALS */
}
@media (max-width: 600px) {
  .home {
    padding-bottom: 4rem;
  }
}
.home .popular {
  padding: 10rem 0;
  position: relative;
  z-index: 10;
}
@media (max-width: 768px) {
  .home .popular {
    padding: 10rem 0 0;
  }
}
@media (max-width: 500px) {
  .home .popular {
    padding: 5rem 0 0;
  }
}
.home .popular__title {
  max-width: 57.5rem;
  font-weight: 600;
  font-size: 6rem;
  line-height: 1;
  /* or 100% */
  text-transform: uppercase;
  color: #333447;
  margin-bottom: 3.5rem;
}
@media (max-width: 500px) {
  .home .popular__title {
    font-size: 4.8rem;
  }
}
.home .popular__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
}
@media (max-width: 500px) {
  .home .popular__cards {
    gap: 1.4rem;
  }
}
@media (max-width: 380px) {
  .home .popular__cards {
    gap: 1rem;
  }
}
.home .popular__card {
  width: 18%;
  border-radius: 1.2rem;
  overflow: hidden;
  border: 1px solid #D9D9D9;
  background: #FFFFFF;
}
@media (min-width: 1800px) {
  .home .popular__card {
    width: 18.4%;
  }
}
@media (max-width: 1100px) {
  .home .popular__card {
    width: 22.5%;
  }
}
@media (max-width: 900px) {
  .home .popular__card {
    width: 31.5%;
  }
}
@media (max-width: 768px) {
  .home .popular__card {
    width: 47.5%;
  }
}
@media (max-width: 500px) {
  .home .popular__card {
    width: 48.4%;
  }
}
.home .popular__card-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .popular__card-title {
  margin: 2rem 0 2rem 1.2rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.33;
  text-transform: capitalize;
  color: #333447;
}
.home .home-shadow-1 {
  position: absolute;
  right: -22rem;
  top: -42.4rem;
  width: 60rem;
}
.home .home-shadow-1 svg {
  width: 100%;
}
@media (max-width: 900px) {
  .home .home-shadow-1 {
    width: 45rem;
    top: -50rem;
  }
}
@media (max-width: 600px) {
  .home .home-shadow-1 {
    right: unset;
    left: -22rem;
  }
}
.home .home-shadow-2 {
  position: absolute;
  bottom: -65%;
  left: -20rem;
  width: 50rem;
}
.home .home-shadow-2 svg {
  width: 100%;
}
@media (max-width: 900px) {
  .home .home-shadow-2 {
    bottom: -70%;
  }
}
@media (max-width: 600px) {
  .home .home-shadow-2 {
    left: unset;
    right: -22rem;
  }
}
.home .home-factory {
  position: absolute;
  right: -35%;
  top: -7.5rem;
  width: 94%;
}
.home .home-factory img {
  width: 100%;
}
@media (min-width: 1800px) {
  .home .home-factory {
    right: -35%;
    top: 0;
  }
}
@media (max-width: 1350px) {
  .home .home-factory {
    right: -36%;
    top: 0;
  }
}
@media (max-width: 1200px) {
  .home .home-factory {
    top: unset;
    bottom: -20rem;
  }
}
@media (max-width: 1100px) {
  .home .home-factory {
    right: -42%;
    bottom: -12rem;
  }
}
@media (max-width: 600px) {
  .home .home-factory {
    right: -14rem;
    width: 80rem;
    bottom: -35rem;
  }
}
@media (max-width: 500px) {
  .home .home-factory {
    width: 68rem;
    right: -13rem;
    bottom: -30rem;
  }
}
@media (max-width: 400px) {
  .home .home-factory {
    right: -21rem;
    width: 70rem;
    bottom: -32rem;
  }
}
.home .become-content {
  padding: 12.5rem 0 20rem;
  position: relative;
  z-index: 10;
}
@media (max-width: 768px) {
  .home .become-content {
    margin-bottom: 5rem;
  }
}
@media (max-width: 600px) {
  .home .become-content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 23rem;
  }
}
.home .become {
  position: relative;
}
.home .become__title {
  max-width: 57rem;
  margin-bottom: 2.4rem;
  font-weight: 600;
  font-size: 6rem;
  line-height: 1;
  text-transform: uppercase;
  color: #333447;
}
@media (max-width: 500px) {
  .home .become__title {
    font-size: 4.8rem;
  }
}
.home .become__subtitle {
  max-width: 57rem;
  margin-bottom: 3.5rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.4;
  color: #333447;
}
.home .home-big-video iframe {
  width: 100%;
  height: 65rem;
  border-radius: 4.2rem;
  position: relative;
  z-index: 10;
}
@media (max-width: 900px) {
  .home .home-big-video iframe {
    height: 55rem;
  }
}
@media (max-width: 800px) {
  .home .home-big-video iframe {
    height: 45rem;
  }
}
@media (max-width: 700px) {
  .home .home-big-video iframe {
    height: 40rem;
  }
}
@media (max-width: 600px) {
  .home .home-big-video iframe {
    height: 30rem;
  }
}
.home .home-big-video {
  position: relative;
  margin-bottom: 10rem;
}
@media (max-width: 768px) {
  .home .home-big-video {
    margin-bottom: 3rem;
  }
}
.home .home-big-video .w1340 {
  position: relative;
}
.home .video-shadow {
  position: absolute;
  bottom: -300px;
  left: 0;
  max-width: 100%;
}
.home .video-shadow svg {
  max-width: 100%;
}
.home .cta {
  background: #0D6547;
  position: relative;
  border-radius: 0px 0px 42px 42px;
  overflow: hidden;
  padding: 15.2rem 0;
}
@media (max-width: 768px) {
  .home .cta {
    padding-bottom: 40rem;
  }
}
@media (max-width: 500px) {
  .home .cta {
    padding-top: 8rem;
  }
}
.home .cta .cta-content {
  max-width: 1340px;
  margin: 0 auto;
  padding-right: 50px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 10;
}
@media (min-width: 1800px) {
  .home .cta .cta-content {
    max-width: 1440px;
  }
}
@media (max-width: 768px) {
  .home .cta .cta-content {
    justify-content: center;
    padding-right: 0;
  }
}
.home .cta__ellipse1 {
  position: absolute;
  top: -40%;
  right: 50%;
  max-width: 37.7%;
}
.home .cta__ellipse1 svg {
  width: 100%;
}
@media (max-width: 768px) {
  .home .cta__ellipse1 {
    right: -22.5rem;
    top: -40%;
    max-width: 55rem;
    transform: rotate(-60deg);
  }
}
.home .cta__ellipse2 {
  position: absolute;
  bottom: -35%;
  right: -5%;
  max-width: 29%;
}
.home .cta__ellipse2 svg {
  width: 100%;
}
@media (max-width: 768px) {
  .home .cta__ellipse2 {
    right: unset;
    left: -15rem;
    max-width: 40rem;
  }
}
.home .cta__factory {
  position: absolute;
  top: -4rem;
  left: -24%;
  width: 69%;
}
.home .cta__factory svg {
  width: 100%;
}
@media (max-width: 1300px) {
  .home .cta__factory {
    top: 0;
    left: -20%;
  }
}
@media (max-width: 900px) {
  .home .cta__factory {
    top: 4rem;
    left: -28%;
  }
}
@media (max-width: 768px) {
  .home .cta__factory {
    top: unset;
    bottom: -12rem;
    left: 20%;
    width: 65rem;
  }
}
@media (max-width: 600px) {
  .home .cta__factory {
    left: 7%;
  }
}
@media (max-width: 600px) {
  .home .cta__factory {
    left: 5%;
    width: 55rem;
    bottom: -5rem;
  }
}
.home .cta__text {
  max-width: 65.5rem;
}
@media (min-width: 1800px) {
  .home .cta__text {
    max-width: 55rem;
  }
}
@media (max-width: 1300px) {
  .home .cta__text {
    max-width: 50rem;
  }
}
@media (max-width: 768px) {
  .home .cta__text {
    max-width: 80%;
  }
}
@media (max-width: 500px) {
  .home .cta__text {
    max-width: 90%;
  }
}
.home .cta__title {
  margin-bottom: 2.4rem;
  font-weight: 600;
  font-size: 6rem;
  line-height: 1;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 500px) {
  .home .cta__title {
    font-size: 4.8rem;
  }
}
.home .cta__subtitle {
  margin-bottom: 3.2rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.4;
  color: #B4DED0;
}
.home .testimonials {
  padding: 10rem 0 7rem;
  max-width: 83rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 600px) {
  .home .testimonials {
    padding: 5rem 0 7rem;
  }
}
.home .testimonials__title {
  margin-bottom: 5rem;
  font-weight: 600;
  font-size: 6rem;
  line-height: 1;
  text-transform: uppercase;
  color: #333447;
}
@media (max-width: 600px) {
  .home .testimonials__title {
    font-size: 4.4rem;
  }
}
@media (max-width: 450px) {
  .home .testimonials__title {
    font-size: 3.2rem;
  }
}
.home .testimonials .t-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .testimonials .t-card__photo {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  margin-bottom: 1.6rem;
}
.home .testimonials .t-card__title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.28;
  text-align: center;
  color: #333447;
  margin-bottom: 0.4rem;
}
.home .testimonials .t-card__company {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.28;
  color: #757575;
  margin-bottom: 2rem;
}
.home .testimonials .t-card__text {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 1.25;
  text-align: center;
  color: #333447;
  margin-bottom: 1.6rem;
}
@media (max-width: 450px) {
  .home .testimonials .t-card__text {
    font-size: 1.8rem;
  }
}

.footer {
  background: #333447;
  padding-top: 40px;
}
.footer .w1340 {
  max-width: 1400px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 1800px) {
  .footer .w1340 {
    max-width: 1500px;
  }
}
@media (max-width: 450px) {
  .footer .w1340 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.footer__body {
  display: flex;
  padding: 8.5rem 0 9.2rem;
  flex-wrap: wrap;
}
@media (max-width: 900px) {
  .footer__body {
    padding: 8.5rem 0 3rem;
  }
}
@media (max-width: 900px) {
  .footer__body {
    padding: 4rem 0 1rem;
  }
}
.footer__logo {
  margin-right: 6rem;
  margin-bottom: 6rem;
  flex-grow: 1;
}
@media (max-width: 500px) {
  .footer__logo {
    width: 100%;
  }
}
.footer__nav {
  display: flex;
  flex-direction: column;
  width: 17%;
  margin-right: 2rem;
  margin-bottom: 6rem;
}
@media (max-width: 600px) {
  .footer__nav {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .footer__nav {
    width: 45%;
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
.footer__nav-title {
  font-size: 1.2rem;
  line-height: 1.28;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #87899F;
  margin-bottom: 1.6rem;
}
@media (max-width: 600px) {
  .footer__nav-title {
    font-size: 2rem;
  }
}
.footer__nav-link {
  max-width: 16.5rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.28;
  color: #EBEBEB !important;
  transition: all 0.3s;
}
.footer__nav-link:not(:last-child) {
  margin-bottom: 1.2rem;
}
.footer__nav-link:hover {
  color: #C7C8DA !important;
}
@media (max-width: 600px) {
  .footer__nav-link {
    font-size: 1.8rem;
  }
}
.footer__nav-social {
  display: flex;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #3D3E52;
}
.footer__nav-social:not(:last-child) {
  margin-right: 1.6rem;
}
.footer__copy {
  padding: 2.4rem 0;
  border-top: 1px solid #87899F;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 475px) {
  .footer__copy {
    flex-direction: column;
  }
}
.footer__copy-text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.28;
  color: #87899F;
}
.footer__copy-text:last-child {
  margin-left: 1.6rem;
}
@media (max-width: 475px) {
  .footer__copy-text {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
  }
  .footer__copy-text:last-child {
    margin-left: 0;
  }
}

.tech-hero {
  border-radius: 0px 0px 42px 42px;
  background: #414254;
  padding-bottom: 19rem;
  position: relative;
  overflow: hidden;
}
.tech-hero__ellipse1 {
  position: absolute;
  top: -50%;
  left: 8%;
  width: 54.3rem;
  z-index: 0;
}
.tech-hero__ellipse1 svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1600px) {
  .tech-hero__ellipse1 {
    left: 12%;
  }
}
@media (min-width: 1800px) {
  .tech-hero__ellipse1 {
    left: 13%;
    top: -55%;
  }
}
@media (min-width: 1850px) {
  .tech-hero__ellipse1 {
    left: 16%;
  }
}
@media (min-width: 2100px) {
  .tech-hero__ellipse1 {
    left: 18%;
  }
}
.tech-hero__ellipse2 {
  position: absolute;
  right: -7%;
  bottom: -35%;
  width: 43.1rem;
  z-index: 0;
}
.tech-hero__ellipse2 svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tech-hero__text {
  margin: 0 auto;
  margin-top: 6.6rem;
  text-align: center;
  max-width: 90rem;
  position: relative;
}
.tech-hero__title {
  margin-bottom: 2rem;
  color: #FFFFFF;
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 1.111;
  text-transform: uppercase;
}
.tech-hero__subtitle {
  color: #C7C8DA;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
}

.tech-video-white iframe {
  width: 100%;
  height: 65rem;
  border-radius: 4.2rem;
  position: relative;
  z-index: 10;
}
@media (max-width: 900px) {
  .tech-video-white iframe {
    height: 55rem;
  }
}
@media (max-width: 800px) {
  .tech-video-white iframe {
    height: 45rem;
  }
}
@media (max-width: 700px) {
  .tech-video-white iframe {
    height: 40rem;
  }
}
@media (max-width: 600px) {
  .tech-video-white iframe {
    height: 30rem;
  }
}

.tech-green-stats {
  background: #0D6547;
  border-radius: 42px;
  padding: 10rem 0;
  position: relative;
  overflow: hidden;
}
.tech-green-stats__ellipse1 {
  width: 54.3rem;
  position: absolute;
  top: -4%;
  left: -33rem;
  z-index: 0;
}
.tech-green-stats__ellipse1 svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tech-green-stats__ellipse2 {
  width: 54.3rem;
  position: absolute;
  bottom: -20%;
  right: -40rem;
  z-index: 0;
}
.tech-green-stats__ellipse2 svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tech-green-stats .w1340 {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 5;
}
.tech-green-stats__left {
  max-width: 50%;
}
.tech-green-stats__title {
  color: #FFFFFF;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 8rem;
}
.tech-green-stats__right {
  max-width: 40%;
}
.tech-green-stats__card {
  display: flex;
}
.tech-green-stats__card:not(:last-child) {
  margin-bottom: 4.5rem;
}
.tech-green-stats__card-img svg {
  width: 4.8rem;
  height: 4.8rem;
}
.tech-green-stats__card-text {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}
.tech-green-stats__card-title {
  margin-bottom: 1.2rem;
  color: #FFFFFF;
  font-size: 3.2rem;
  font-weight: 600;
}
.tech-green-stats__card-description {
  color: #FFFFFF;
  font-size: 1.8rem;
  font-weight: 400;
}

.tech-u-accordion .w1340 {
  display: flex;
  justify-content: space-between;
}
.tech-u-accordion__left {
  width: 42.83%;
}
.tech-u-accordion__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.8rem;
}
.tech-u-accordion__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
  cursor: pointer;
}
.tech-u-accordion__title {
  color: #333447;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.56;
  text-transform: uppercase;
}
.tech-u-accordion__item-header.active .tech-u-accordion__indicator svg:last-child {
  display: none;
}
.tech-u-accordion__item-header.active .tech-u-accordion__indicator svg:first-child {
  display: block;
}
.tech-u-accordion__indicator svg:last-child {
  display: block;
}
.tech-u-accordion__indicator svg:first-child {
  display: none;
}
.tech-u-accordion__body {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #C7C8DA;
  padding-bottom: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.tech-u-accordion__item-header.active + .tech-u-accordion__body {
  max-height: 300px;
  padding-bottom: 2.8rem;
}
.tech-u-accordion__list-item {
  display: flex;
  align-items: center;
}
.tech-u-accordion__list-item:not(:last-child) {
  margin-bottom: 2.4rem;
}
.tech-u-accordion__list-item svg {
  margin-right: 1.2rem;
}
.tech-u-accordion__list-title {
  color: #333447;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.33;
  text-transform: capitalize;
}
.tech-u-accordion__right {
  width: 53.88%;
}
.tech-u-accordion__img {
  border-radius: 42px;
  overflow: hidden;
  display: none;
}
.tech-u-accordion__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tech-u-accordion__img.active {
  display: block;
}
/* ACCORDION WIDE */
.tech-u-accordion-wide .w1340 {
  width: 100%;
}
.tech-u-accordion-wide__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}
.tech-u-accordion-wide__header-title {
  margin-bottom: 2.4rem;
  color: #333447;
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
.tech-u-accordion-wide__header-subtitle {
  color: #3D3E52;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
}
.tech-u-accordion-wide__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.8rem;
}
.tech-u-accordion-wide__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
  cursor: pointer;
}
.tech-u-accordion-wide__title {
  color: #333447;
  font-size: 3.2rem;
  font-weight: 600;
}
.tech-u-accordion-wide__item-header.active .tech-u-accordion-wide__indicator svg:last-child {
  display: none;
}
.tech-u-accordion-wide__item-header.active .tech-u-accordion-wide__indicator svg:first-child {
  display: block;
}
.tech-u-accordion-wide__indicator svg:last-child {
  display: block;
}
.tech-u-accordion-wide__indicator svg:first-child {
  display: none;
}
.tech-u-accordion-wide__body {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #C7C8DA;
  padding-bottom: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.tech-u-accordion-wide__item-header.active + .tech-u-accordion-wide__body {
  max-height: 300px;
  padding-bottom: 2.8rem;
}
.tech-u-accordion-wide__list-item {
  display: flex;
  align-items: center;
}
.tech-u-accordion-wide__list-item:not(:last-child) {
  margin-bottom: 2.4rem;
}
.tech-u-accordion-wide__list-item svg {
  margin-right: 1.2rem;
}
.tech-u-accordion-wide__list-title {
  color: #3D3E52;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
}
.tech-u-accordion-wide__right {
  width: 53.88%;
}
.tech-u-accordion-wide__img {
  border-radius: 42px;
  overflow: hidden;
  display: none;
}
.tech-u-accordion-wide__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tech-u-accordion-wide__img.active {
  display: block;
}
.tech-big-photo {
  position: relative;
  background: #414254;
  padding: 10rem 0;
  overflow: hidden;
}
.tech-big-photo__ellipse {
  position: absolute;
  bottom: 0;
  right: -2%;
  z-index: 0;
}
.tech-big-photo__img {
  margin-bottom: 4.2rem;
  border-radius: 42px;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.tech-big-photo__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tech-big-photo__text {
  position: relative;
  z-index: 5;
  color: #FFFFFF;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;
}
.tech-big-photo__text a {
  color: #FFFFFF !important;
}

.tech-track {
  padding: 10rem 0;
}
.tech-track .w1340 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tech-track__title {
  max-width: 72.2rem;
  margin-bottom: 2rem;
  color: #333447;
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
.tech-track__subtitle {
  max-width: 72.2rem;
  margin-bottom: 6.4rem;
  color: #3D3E52;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
}
.tech-track__img {
  width: 53.88%;
  box-shadow: 0px 16px 31px 0px rgba(113, 106, 106, 0.15);
  margin-bottom: 9.5rem;
}
.tech-track__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tech-track__cards {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.tech-track__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tech-track__card-icon {
  margin-bottom: 2rem;
}
.tech-track__card-title {
  margin-bottom: 0.8rem;
  color: #333447;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;
}
.tech-track__card-description {
  margin-bottom: 2rem;
  color: #3D3E52;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}

.tech-green-cards {
  position: relative;
  background: #0D6547;
  padding: 10rem 0;
  overflow: hidden;
}
.tech-green-cards__ellipse1 {
  position: absolute;
  top: -20%;
  left: -12%;
  z-index: 0;
  width: 54.3rem;
}
.tech-green-cards__ellipse1 svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tech-green-cards__ellipse2 {
  position: absolute;
  right: -15%;
  top: 30%;
  z-index: 0;
  width: 43.1rem;
}
.tech-green-cards__ellipse2 svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tech-green-cards__ellipse3 {
  position: absolute;
  z-index: 0;
  bottom: -21%;
  left: -12%;
  width: 43.1rem;
}
.tech-green-cards__ellipse3 svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tech-green-cards .w1340 {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
}
.tech-green-cards__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 7rem;
       column-gap: 7rem;
}
.tech-green-cards__card:not(:last-child) {
  margin-bottom: 5rem;
}
.tech-green-cards__card-img {
  width: 43.28%;
  border-radius: 42px;
}
.tech-green-cards__card-text {
  display: flex;
  flex-direction: column;
}
.tech-green-cards__card-title {
  margin-bottom: 2.4rem;
  color: #FFFFFF;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
.tech-green-cards__card-description {
  margin-bottom: 3.2rem;
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
}
.tech-green-cards .learn-more-button {
  color: #FFFFFF !important;
  border-bottom-color: #FFFFFF;
}
.tech-white-cards-1 .w1340 {
  display: flex;
  justify-content: space-between;
}
.tech-white-cards-1__left {
  width: 33.8%;
  display: flex;
  flex-direction: column;
}
.tech-white-cards-1__title {
  margin-bottom: 3rem;
  color: #333447;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
.tech-white-cards-1__subtitle {
  color: #3D3E52;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
}
.tech-white-cards-1__right {
  width: 56.86%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 4.2rem;
}
.tech-white-cards-1__card {
  width: 44.61%;
  display: flex;
  flex-direction: column;
}
.tech-white-cards-1__card-img {
  width: 4.4rem;
  height: 4.4rem;
  margin-bottom: 2rem;
}
.tech-white-cards-1__card-title {
  margin-bottom: 1.2rem;
  color: #333447;
  font-size: 3.2rem;
  font-weight: 600;
}
.tech-white-cards-1__card-description {
  color: #3D3E52;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
}

.tech-big-slider .w1340 {
  padding: 10rem 0;
}
.tech-big-slider__card {
  border-radius: 16px;
  width: 71.11% !important;
  height: 62.5rem !important;
  overflow: hidden;
}
.tech-big-slider__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-us {
  padding: 10rem 0;
  position: relative;
  background: #EFEFEF;
  overflow: hidden;
}
.contact-us__shadow1 {
  position: absolute;
  top: -50%;
  left: -15%;
  width: 36.8rem;
}
.contact-us__shadow1 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact-us__shadow2 {
  position: absolute;
  bottom: -44%;
  right: 5%;
  width: 36.8rem;
}
.contact-us__shadow2 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact-us .w1340 {
  position: relative;
  z-index: 5;
}
.contact-us__left {
  width: 28.13%;
}
.contact-us__title {
  margin-bottom: 2.4rem;
  color: #333447;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
.contact-us__subtitle {
  margin-bottom: 3.2rem;
  color: #3D3E52;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
}
.contact-us__cards {
  display: flex;
  flex-direction: column;
}
.contact-us__card {
  display: flex;
}
.contact-us__card:not(:last-child) {
  margin-bottom: 3.2rem;
}
.contact-us__card-img {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1.6rem;
}
.contact-us__card-text {
  display: flex;
  flex-direction: column;
}
.contact-us__card-title {
  margin-bottom: 0.8rem;
  color: #333447;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.8;
}
.contact-us__card-description {
  color: #3D3E52;
  font-size: 1.8rem;
  font-weight: 400;
}
.tech-white-cards-2 {
  padding: 10rem 0;
}
.tech-white-cards-2__title {
  margin-bottom: 2.4rem;
  color: #333447;
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
.tech-white-cards-2__subtitle {
  margin-bottom: 3.2rem;
  color: #333447;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.18;
}
.tech-white-cards-2__cards {
  display: flex;
  justify-content: space-between;
}
.tech-white-cards-2__card {
  width: 32%;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid #C7C8DA;
}
.tech-white-cards-2__card-img {
  width: 100%;
}
.tech-white-cards-2__card-img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.tech-white-cards-2__card-text {
  padding: 2rem 3rem 3rem;
}
.tech-white-cards-2__card-title {
  margin-bottom: 1.6rem;
  color: #333447;
  font-size: 3.2rem;
  font-weight: 600;
}
.tech-white-cards-2__card-description {
  color: #3D3E52;
  font-size: 1.8rem;
  font-weight: 400;
}

.tech-green-cards-2 {
  padding: 10rem 0;
  background: #0D6547;
  position: relative;
  overflow: hidden;
}
.tech-green-cards-2 .w1340 {
  position: relative;
  z-index: 5;
}
.tech-green-cards-2__ellipse1 {
  position: absolute;
  width: 43.2rem;
  top: -25%;
  right: -9%;
  transform: rotate(107deg);
}
.tech-green-cards-2__ellipse1 img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.tech-green-cards-2__ellipse2 {
  position: absolute;
  width: 54.3rem;
  bottom: -14%;
  right: -11%;
  transform: rotate(79deg);
}
.tech-green-cards-2__ellipse2 img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.tech-green-cards-2__title {
  margin-bottom: 2.4rem;
  color: #FFFFFF;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
.tech-green-cards-2__subtitle {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
}
.tech-green-cards-2__cards {
  margin-top: 7.5rem;
  display: flex;
  justify-content: space-between;
}
.tech-green-cards-2__card {
  width: 49%;
  display: flex;
  flex-direction: column;
}
.tech-green-cards-2__card-img {
  margin-bottom: 2.4rem;
  width: 100%;
  height: 52.2rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
}
.tech-green-cards-2__card-title {
  color: #FFFFFF;
  font-size: 3.2rem;
  font-weight: 600;
}

.tech-o-accordion {
  padding: 10rem 0;
}
.tech-o-accordion__title {
  margin-bottom: 5rem;
  color: #333447;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
.tech-o-accordion__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tech-o-accordion__left {
  width: 45%;
}
.tech-o-accordion__img {
  display: none;
  width: 100%;
  height: 60rem;
  border-radius: 42px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s;
}
.tech-o-accordion__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tech-o-accordion__img.active {
  display: block;
}
.tech-o-accordion__right {
  width: 45%;
}
.tech-o-accordion__item {
  display: flex;
  flex-direction: column;
  position: relative;
  border-left: 1px solid #333447;
  padding-left: 5.2rem;
}
.tech-o-accordion__item:not(:last-child) {
  padding-bottom: 3.2rem;
}
.tech-o-accordion__item-header {
  cursor: pointer;
}
.tech-o-accordion__item-title {
  color: #333447;
  font-size: 3.2rem;
  font-weight: 600;
}
.tech-o-accordion__item-header.active > .tech-o-accordion__item-indicator {
  background: #14BD84;
  border-color: #14BD84;
  color: #FFFFFF;
}
.tech-o-accordion__item-indicator {
  position: absolute;
  width: 4.2rem;
  height: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  top: 0;
  left: -2.1rem;
  color: #333447;
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #333447;
  transition: all 0.3s;
}
.tech-o-accordion__item-body {
  color: #757575;
  font-size: 1.8rem;
  font-weight: 400;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.tech-o-accordion__item-header.active + .tech-o-accordion__item-body {
  max-height: 500px;
  padding-top: 1.5rem;
}
.tech-green-photos {
  padding: 10rem 0;
  background: #0D6547;
  position: relative;
  overflow: hidden;
}
.tech-green-photos .w1340 {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}
.tech-green-photos__ellipse1 {
  width: 43.2rem;
  height: 43.2rem;
  transform: rotate(87deg);
  position: absolute;
  top: -17%;
  right: -6%;
}
.tech-green-photos__ellipse1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tech-green-photos__ellipse2 {
  width: 53.4rem;
  height: 53.4rem;
  position: absolute;
  bottom: -27%;
  left: -7%;
  transform: rotate(193deg);
}
.tech-green-photos__ellipse2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tech-green-photos .learn-more-button {
  color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}
.tech-green-photos__left {
  width: 55%;
  margin-right: 5rem;
}
.tech-green-photos__title {
  margin-bottom: 2.4rem;
  color: #FFFFFF;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
.tech-green-photos__subtitle {
  margin-bottom: 3.2rem;
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
}
.tech-green-photos__right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.tech-green-photos__img {
  border-radius: 8px;
  overflow: hidden;
}
.tech-green-photos__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tech-green-photos__img:first-child {
  width: 436px;
  height: 235px;
}
.tech-green-photos__img:nth-child(2) {
  width: 383px;
  height: 248px;
}
.tech-green-photos__img:nth-child(3) {
  width: 313px;
  height: 316px;
}
.tech-green-photos__img:nth-child(4) {
  width: 316px;
  height: 244px;
  margin-top: 2rem;
  margin-right: 6.7rem;
}